@charset "UTF-8";
/* reset.scss */
/*!
 * ress.css • v4.0.0
 * MIT License
 * github.com/filipelinhares/ress
 */
/* # =================================================================
   # Global selectors
   # ================================================================= */
html {
  box-sizing: border-box;
  -webkit-text-size-adjust: 100%;
  /* Prevent adjustments of font size after orientation changes in iOS */
  word-break: normal;
  tab-size: 4;
}

*,
::before,
::after {
  background-repeat: no-repeat;
  /* Set `background-repeat: no-repeat` to all elements and pseudo elements */
  box-sizing: inherit;
}

::before,
::after {
  text-decoration: inherit;
  /* Inherit text-decoration and vertical align to ::before and ::after pseudo elements */
  vertical-align: inherit;
}

* {
  padding: 0;
  /* Reset `padding` and `margin` of all elements */
  margin: 0;
}

/* # =================================================================
     # General elements
     # ================================================================= */
hr {
  overflow: visible;
  /* Show the overflow in Edge and IE */
  height: 0;
  /* Add the correct box sizing in Firefox */
  color: inherit;
  /* Correct border color in Firefox. */
}

details,
main {
  display: block;
  /* Render the `main` element consistently in IE. */
}

summary {
  display: list-item;
  /* Add the correct display in all browsers */
}

small {
  font-size: 80%;
  /* Set font-size to 80% in `small` elements */
}

[hidden] {
  display: none;
  /* Add the correct display in IE */
}

abbr[title] {
  border-bottom: none;
  /* Remove the bottom border in Chrome 57 */
  /* Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari */
  text-decoration: underline;
  text-decoration: underline dotted;
}

a {
  background-color: transparent;
  /* Remove the gray background on active links in IE 10 */
}

a:active,
a:hover {
  outline-width: 0;
  /* Remove the outline when hovering in all browsers */
}

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  /* Specify the font family of code elements */
}

pre {
  font-size: 1em;
  /* Correct the odd `em` font sizing in all browsers */
}

b,
strong {
  font-weight: bolder;
  /* Add the correct font weight in Chrome, Edge, and Safari */
}

/* https://gist.github.com/unruthless/413930 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

table {
  border-color: inherit;
  /* Correct border color in all Chrome, Edge, and Safari. */
  text-indent: 0;
  /* Remove text indentation in Chrome, Edge, and Safari */
}

/* # =================================================================
     # Forms
     # ================================================================= */
input {
  border-radius: 0;
}

/* Replace pointer cursor in disabled elements */
[disabled] {
  cursor: default;
}

[type='number']::-webkit-inner-spin-button,
[type='number']::-webkit-outer-spin-button {
  height: auto;
  /* Correct the cursor style of increment and decrement buttons in Chrome */
}

[type='search'] {
  -webkit-appearance: textfield;
  /* Correct the odd appearance in Chrome and Safari */
  outline-offset: -2px;
  /* Correct the outline style in Safari */
}

[type='search']::-webkit-search-decoration {
  -webkit-appearance: none;
  /* Remove the inner padding in Chrome and Safari on macOS */
}

textarea {
  overflow: auto;
  /* Internet Explorer 11+ */
  resize: vertical;
  /* Specify textarea resizability */
}

button,
input,
optgroup,
select,
textarea {
  font: inherit;
  /* Specify font inheritance of form elements */
}

optgroup {
  font-weight: bold;
  /* Restore the font weight unset by the previous rule */
}

button {
  overflow: visible;
  /* Address `overflow` set to `hidden` in IE 8/9/10/11 */
}

button,
select {
  text-transform: none;
  /* Firefox 40+, Internet Explorer 11- */
}

/* Apply cursor pointer to button elements */
button,
[type='button'],
[type='reset'],
[type='submit'],
[role='button'] {
  cursor: pointer;
  color: inherit;
}

/* Remove inner padding and border in Firefox 4+ */
button::-moz-focus-inner,
[type='button']::-moz-focus-inner,
[type='reset']::-moz-focus-inner,
[type='submit']::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/* Replace focus style removed in the border reset above */
button:-moz-focusring,
[type='button']::-moz-focus-inner,
[type='reset']::-moz-focus-inner,
[type='submit']::-moz-focus-inner {
  outline: 1px dotted ButtonText;
}

button,
html [type='button'],
[type='reset'],
[type='submit'] {
  -webkit-appearance: button;
  /* Correct the inability to style clickable types in iOS */
}

/* Remove the default button styling in all browsers */
button,
input,
select,
textarea {
  background-color: transparent;
  border-style: none;
}

a:focus,
button:focus,
input:focus,
select:focus,
textarea:focus {
  outline-width: 0;
}

/* Style select like a standard input */
select {
  -moz-appearance: none;
  /* Firefox 36+ */
  -webkit-appearance: none;
  /* Chrome 41+ */
}

select::-ms-expand {
  display: none;
  /* Internet Explorer 11+ */
}

select::-ms-value {
  color: currentColor;
  /* Internet Explorer 11+ */
}

legend {
  border: 0;
  /* Correct `color` not being inherited in IE 8/9/10/11 */
  color: inherit;
  /* Correct the color inheritance from `fieldset` elements in IE */
  display: table;
  /* Correct the text wrapping in Edge and IE */
  max-width: 100%;
  /* Correct the text wrapping in Edge and IE */
  white-space: normal;
  /* Correct the text wrapping in Edge and IE */
  max-width: 100%;
  /* Correct the text wrapping in Edge 18- and IE */
}

::-webkit-file-upload-button {
  /* Correct the inability to style clickable types in iOS and Safari */
  -webkit-appearance: button;
  color: inherit;
  font: inherit;
  /* Change font properties to `inherit` in Chrome and Safari */
}

/* # =================================================================
     # Specify media element style
     # ================================================================= */
img {
  border-style: none;
  /* Remove border when inside `a` element in IE 8/9/10 */
}

/* Add the correct vertical alignment in Chrome, Firefox, and Opera */
progress {
  vertical-align: baseline;
}

/* # =================================================================
     # Accessibility
     # ================================================================= */
/* Specify the progress cursor of updating elements */
[aria-busy='true'] {
  cursor: progress;
}

/* Specify the pointer cursor of trigger elements */
[aria-controls] {
  cursor: pointer;
}

/* Specify the unstyled cursor of disabled, not-editable, or otherwise inoperable elements */
[aria-disabled='true'] {
  cursor: default;
}

/* variable.scss */
/* フォント　書体 */
/* フォント　太さ*/
/* フォント　サイズ */
/* カラー */
/* レスポンシブ設定　ブレークポイント */
/* レスポンシブ設定　スマホ最小幅　PC最大幅 */
/* レイアウト　幅　高さ */
/* 線　コンポーネント */
/* mixin.scss */
/* フォントサイズ設定　簡易化 */
/* レスポンシブ設定 */
/* base.scss */
html {
  font-size: 62.5%;
}

body {
  color: #3C2A10;
  font-family: "M PLUS 1p", sans-serif;
  font-weight: 400;
  display: grid;
  grid-template-rows: 217px auto 150px;
  grid-template-columns: 100vw 87vw;
}

@media screen and (min-width: 768px) {
  body {
    grid-template-columns: 100vw 44vw;
  }
}

@media screen and (min-width: 1201px) {
  body {
    grid-template-columns: 4fr 1fr;
  }
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

/* ヘッダー　レイアウト */
.l-header {
  grid-row: 1/2;
  grid-column: 1/2;
}

@media screen and (min-width: 1201px) {
  .l-header {
    grid-column: 1/4;
  }
}

/* メイン　レイアウト */
.l-main {
  grid-row: 2/3;
  grid-column: 1/2;
}

@media screen and (min-width: 1201px) {
  .l-main {
    grid-column: 1/4;
  }
}

/* サイドバー　レイアウト */
.l-sidebar {
  grid-row: 1/4;
  grid-column: 2/3;
}

@media screen and (min-width: 1201px) {
  .l-sidebar {
    grid-column: 4/5;
  }
}

/* フッター　レイアウト */
.l-footer {
  grid-row: 3/4;
  grid-column: 1/2;
}

@media screen and (min-width: 1201px) {
  .l-footer {
    grid-column: 1/4;
  }
}

/* クローズボタン */
.c-close {
  width: 32px;
  height: 32px;
}

.c-close::before, .c-close::after {
  content: "";
  width: 32px;
  height: 4px;
  background-color: #707070;
  display: block;
  position: absolute;
}

.c-close::before {
  transform: rotate(45deg);
}

.c-close::after {
  transform: rotate(-45deg);
}

/* ボタン　コンポーネント */
.c-btn, .c-btn--search {
  border-radius: 10px;
  border: 1px solid #707070;
  display: block;
}

.c-btn--search {
  height: 46px;
  background: linear-gradient(#f2ede9 0%, #ded8d3 100%);
}

/* アイコン　コンポーネント */
/* ヘッドライン　コンポーネント */
.c-headline, .c-headline--underline {
  font-weight: 700;
}

.c-headline--underline::after {
  content: "";
  background-color: #fff;
  display: block;
}

/* 検索フォーム入力エリア コンポーネント*/
.c-searchbox, .c-searchbox--icon {
  height: 46px;
  border-radius: 10px;
  background: #fff;
  border: 1px solid #707070;
  display: block;
}

.c-searchbox--icon {
  content: \f002;
  font-family: "Font Awesome 5 Free";
  font-weight: 700;
  font-size: 25px;
  padding-left: 15px;
}

/* link コンポーネント */
.c-link--block {
  display: block;
  height: 100%;
}

.c-link--inlineblock {
  display: inline-block;
  width: 100%;
  height: 100%;
}

/* 定義リスト　コンポーネント */
.c-definition__headline {
  font-weight: 700;
}

.c-definition__description {
  word-wrap: break-word;
}

/* 画像　コンポーネント */
.c-img {
  height: 100%;
  object-fit: cover;
  width: 100%;
}

/* 地図　コンポーネント */
.c-map {
  width: 100%;
  height: 100%;
}

/* 線　コンポーネント */
.c-line, .c-line--vertical {
  background-color: #fff;
}

.c-line--vertical {
  width: 2px;
  height: 20px;
}

/* コピーライト　コンポーネント */
.c-copyright {
  color: #fff;
  font-size: 1.4rem;
}

/* ヘッダー プロジェクト */
.p-header {
  min-width: 375px;
  background-color: #FFF7EF;
  font-family: "Roboto", sans-serif;
}

@media screen and (min-width: 1201px) {
  .p-header {
    display: flex;
    flex-direction: column;
    align-items: space-between;
    justify-content: center;
    padding-right: 1vw;
  }
}

.p-header > .c-headline, .p-header > .c-headline--underline {
  color: #707070;
  display: block;
  margin: 0 0 0 auto;
  position: relative;
  top: 14px;
  right: 16px;
  font-size: 2rem;
}

@media screen and (min-width: 768px) {
  .p-header > .c-headline, .p-header > .c-headline--underline {
    font-size: 3.4rem;
    top: 18px;
    right: 26px;
  }
}

@media screen and (min-width: 1201px) {
  .p-header > .c-headline, .p-header > .c-headline--underline {
    display: none;
  }
}

.p-header .c-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (min-width: 1201px) {
  .p-header .c-wrapper {
    flex-direction: row;
    justify-content: space-between;
    margin-left: 3%;
  }
}

.p-header .c-wrapper > .c-headline, .p-header .c-wrapper > .c-headline--underline {
  color: #707070;
  font-size: 4rem;
}

@media screen and (min-width: 1201px) {
  .p-header .c-wrapper > .c-headline, .p-header .c-wrapper > .c-headline--underline {
    font-size: 6.4rem;
  }
}

/* 検索フォーム　プロジェクト */
.p-search {
  display: flex;
}

.p-search .c-searchbox, .p-search .c-searchbox--icon {
  width: 230px;
}

@media screen and (min-width: 768px) {
  .p-search .c-searchbox, .p-search .c-searchbox--icon {
    width: 396px;
  }
}

@media screen and (min-width: 1201px) {
  .p-search .c-searchbox, .p-search .c-searchbox--icon {
    width: 20vw;
  }
}

.p-search .c-btn--search {
  width: 78px;
}

@media screen and (min-width: 768px) {
  .p-search .c-btn--search {
    width: 136px;
  }
}

@media screen and (min-width: 1201px) {
  .p-search .c-btn--search {
    width: 7vw;
  }
}

/* メニューボタン　プロジェクト */
.c-overlay.is-open {
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
  position: fixed;
  z-index: 2000;
}

@media screen and (min-width: 1201px) {
  .c-overlay.is-open {
    display: none;
  }
}

.p-sidebar.is-open {
  position: absolute;
  z-index: 2100;
}

/* メイン　プロジェクト */
.p-main {
  min-width: 375px;
  background-color: #FFFDFA;
}

/* ヒーロー　プロジェクト */
.p-hero, .p-hero--front {
  display: flex;
  align-items: center;
  padding-left: 25px;
  /* ページ毎の設定 */
}

.p-hero .c-headline, .p-hero--front .c-headline, .p-hero .c-headline--underline, .p-hero--front .c-headline--underline {
  color: #fff;
  font-size: 3.6rem;
}

@media screen and (min-width: 1201px) {
  .p-hero .c-headline, .p-hero--front .c-headline, .p-hero .c-headline--underline, .p-hero--front .c-headline--underline {
    font-size: 4rem;
  }
}

.p-hero--front {
  background-image: url(/images/main__title--front-sp.png);
  background-size: cover;
  background-position: center;
  height: 285px;
}

@media screen and (min-width: 768px) {
  .p-hero--front {
    background-image: url(/images/main__title--front-tab.png);
  }
}

@media screen and (min-width: 1201px) {
  .p-hero--front {
    height: 28vw;
  }
}

/* 提供サービス　プロジェクト */
.p-service {
  display: grid;
  grid-template-rows: auto auto;
  grid-template-columns: auto;
  row-gap: 20px;
  padding: 20px 20px 49px;
}

@media screen and (min-width: 768px) {
  .p-service {
    grid-template-rows: auto;
    grid-template-columns: auto auto;
    column-gap: 41px;
    padding: 40px;
  }
}

@media screen and (min-width: 1201px) {
  .p-service {
    column-gap: 6%;
    padding: 8% 7% 9% 7%;
    /* h1447 w1553 */
  }
}

.p-service__list {
  position: relative;
  z-index: 500;
  padding-top: 192%;
}

@media screen and (min-width: 768px) {
  .p-service__list {
    padding-top: 191%;
  }
}

.p-service__list .c-img {
  position: absolute;
  top: 0;
  z-index: 600;
}

.p-service__list__inner {
  position: absolute;
  top: 0;
  z-index: 700;
  pointer-events: none;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  padding: 11px 10px 10px 11px;
}

@media screen and (min-width: 768px) {
  .p-service__list__inner {
    padding: 12px 11px 11px 12px;
  }
}

@media screen and (min-width: 1201px) {
  .p-service__list__inner {
    padding: 3%;
  }
}

.p-service__list__inner .c-headline--underline {
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-size: 4.1rem;
}

.p-service__list__inner .c-headline--underline::after {
  width: 35px;
  height: 4px;
  margin-top: 19.3px;
}

@media screen and (min-width: 768px) {
  .p-service__list__inner .c-headline--underline {
    font-size: 4.4rem;
  }
  .p-service__list__inner .c-headline--underline::after {
    width: 40px;
    height: 4px;
    margin-top: 19.5px;
  }
}

@media screen and (min-width: 1201px) {
  .p-service__list__inner .c-headline--underline {
    font-size: 8rem;
  }
  .p-service__list__inner .c-headline--underline::after {
    width: 70px;
    height: 4px;
    margin-top: 34.5px;
  }
}

.p-service__list__inner .c-definition {
  background: #fff;
  opacity: 0.8;
  padding: 19px 14px 23px 10px;
  height: 43vw;
  min-height: 163px;
}

@media screen and (min-width: 768px) {
  .p-service__list__inner .c-definition {
    padding: 20px 15px 22px 11px;
    height: 21vw;
  }
}

@media screen and (min-width: 1201px) {
  .p-service__list__inner .c-definition {
    height: 9vw;
  }
}

.p-service__list__inner .c-definition__headline {
  font-size: 2.2rem;
}

@media screen and (min-width: 768px) {
  .p-service__list__inner .c-definition__headline {
    font-size: 2.4rem;
  }
}

.p-service__list__inner .c-definition__description {
  font-size: 1.6rem;
}

/* 住所　プロジェクト */
.p-info {
  background: #000;
  position: relative;
  z-index: 500;
  padding-top: 184%;
}

@media screen and (min-width: 768px) {
  .p-info {
    padding-top: 50%;
  }
}

@media screen and (min-width: 1201px) {
  .p-info {
    padding-top: 42%;
  }
}

.p-info .c-map {
  position: absolute;
  top: 0;
  z-index: 600;
  opacity: 0.6;
}

.p-info__layer {
  background-color: #000;
  opacity: 0.29;
  width: 100%;
  padding-top: 110%;
  position: absolute;
  top: 0;
  z-index: 800;
}

@media screen and (min-width: 768px) {
  .p-info__layer {
    padding-top: 0;
    height: 100%;
  }
}

@media screen and (min-width: 1201px) {
  .p-info__layer {
    width: 61%;
  }
}

.p-info__layer .c-definition {
  position: absolute;
  z-index: 700;
  top: 0;
  width: 100%;
  height: 100%;
  padding: 40px 40px 51px 42px;
}

@media screen and (min-width: 1201px) {
  .p-info__layer .c-definition {
    padding-top: 9%;
    padding-left: 8%;
  }
}

.p-info__layer .c-definition__description {
  color: #fff;
  font-size: 1.4rem;
}

@media screen and (min-width: 1201px) {
  .p-info__layer .c-definition__description {
    font-size: 1.6rem;
  }
}

.p-info__layer .c-headline--underline {
  color: #fff;
  font-size: 3rem;
}

.p-info__layer .c-headline--underline::after {
  width: 75px;
  height: 2px;
  margin-top: 20px;
  margin-bottom: 20px;
}

@media screen and (min-width: 1201px) {
  .p-info__layer .c-headline--underline {
    font-size: 3.6rem;
  }
  .p-info__layer .c-headline--underline::after {
    width: 75px;
    height: 2px;
  }
}

/* サイドバー　プロジェクト */
.p-sidebar {
  min-width: 375px;
  background-color: #F2EDE9;
  position: relative;
  padding-top: 212px;
  padding-left: 46px;
}

@media screen and (min-width: 1201px) {
  .p-sidebar {
    padding-top: 82px;
  }
}

.p-sidebar .c-close {
  position: absolute;
  top: 25px;
  right: 17px;
}

@media screen and (min-width: 1201px) {
  .p-sidebar .c-close {
    display: none;
  }
}

.p-sidebar .c-headline, .p-sidebar .c-headline--underline {
  color: #707070;
  font-family: "Roboto", sans-serif;
  font-size: 3.4rem;
  display: none;
}

@media screen and (min-width: 1201px) {
  .p-sidebar .c-headline, .p-sidebar .c-headline--underline {
    display: block;
  }
}

/* グローバルメニュー プロジェクト */
.p-gmenu__list > .c-link {
  color: #707070;
  font-weight: 700;
  font-size: 2.4rem;
}

/* ローカルメニュー プロジェクト */
.p-lmenu {
  padding: 36px 0 38px 20px;
}

.p-lmenu__list .c-link {
  color: #707070;
  font-size: 2rem;
}

/* フッター プロジェクト */
.p-footer {
  min-width: 375px;
  background-image: url(/images/footer.png);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.p-footer__menu {
  display: flex;
  align-items: center;
  justify-content: center;
}

.p-footer__menu__list .c-link {
  color: #fff;
  font-size: 2rem;
}

/* 隣接セレクタ マージントップ ユーティリティ */
.p-footer__menu + .c-copyright {
  margin-top: 34px;
}

.p-lmenu__list + .p-lmenu__list {
  margin-top: 23px;
}

.c-definition + .c-definition {
  margin-top: 9px;
}

@media screen and (min-width: 768px) {
  .c-definition + .c-definition {
    margin-top: 10px;
  }
}

@media screen and (min-width: 1201px) {
  .c-definition + .c-definition {
    margin-top: 20px;
  }
}

.c-definition__headline + .c-definition__description {
  margin-top: 20px;
}

@media screen and (min-width: 1201px) {
  .c-definition__headline + .c-definition__description {
    margin-top: 26px;
  }
}

.c-headline + .p-search, .c-headline--underline + .p-search {
  margin-top: 38px;
}

@media screen and (min-width: 1201px) {
  .c-headline + .p-search, .c-headline--underline + .p-search {
    margin-top: 0;
  }
}

@media screen and (min-width: 1201px) {
  .c-headline + .p-sidebar__nav, .c-headline--underline + .p-sidebar__nav {
    margin-top: 85px;
  }
}

/* 隣接セレクタ マージンレフト ユーティリティ */
.p-footer__menu__list + .c-line, .p-footer__menu__list + .c-line--vertical {
  margin-left: 15px;
}

.c-line + .p-footer__menu__list, .c-line--vertical + .p-footer__menu__list {
  margin-left: 15px;
}

.c-searchbox + .c-btn--search, .c-searchbox--icon + .c-btn--search {
  margin-left: 12px;
}
/*# sourceMappingURL=style.css.map */