@charset "UTF-8";
/* reset.scss */
/*!
 * ress.css • v4.0.0
 * MIT License
 * github.com/filipelinhares/ress
 */
/* # =================================================================
   # Global selectors
   # ================================================================= */
html {
  box-sizing: border-box;
  -webkit-text-size-adjust: 100%;
  /* Prevent adjustments of font size after orientation changes in iOS */
  word-break: normal;
  tab-size: 4;
}

*,
::before,
::after {
  background-repeat: no-repeat;
  /* Set `background-repeat: no-repeat` to all elements and pseudo elements */
  box-sizing: inherit;
}

::before,
::after {
  text-decoration: inherit;
  /* Inherit text-decoration and vertical align to ::before and ::after pseudo elements */
  vertical-align: inherit;
}

* {
  padding: 0;
  /* Reset `padding` and `margin` of all elements */
  margin: 0;
}

/* # =================================================================
     # General elements
     # ================================================================= */
hr {
  overflow: visible;
  /* Show the overflow in Edge and IE */
  height: 0;
  /* Add the correct box sizing in Firefox */
  color: inherit;
  /* Correct border color in Firefox. */
}

details,
main {
  display: block;
  /* Render the `main` element consistently in IE. */
}

summary {
  display: list-item;
  /* Add the correct display in all browsers */
}

small {
  font-size: 80%;
  /* Set font-size to 80% in `small` elements */
}

[hidden] {
  display: none;
  /* Add the correct display in IE */
}

abbr[title] {
  border-bottom: none;
  /* Remove the bottom border in Chrome 57 */
  /* Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari */
  text-decoration: underline;
  text-decoration: underline dotted;
}

a {
  background-color: transparent;
  /* Remove the gray background on active links in IE 10 */
}

a:active,
a:hover {
  outline-width: 0;
  /* Remove the outline when hovering in all browsers */
}

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  /* Specify the font family of code elements */
}

pre {
  font-size: 1em;
  /* Correct the odd `em` font sizing in all browsers */
}

b,
strong {
  font-weight: bolder;
  /* Add the correct font weight in Chrome, Edge, and Safari */
}

/* https://gist.github.com/unruthless/413930 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

table {
  border-color: inherit;
  /* Correct border color in all Chrome, Edge, and Safari. */
  text-indent: 0;
  /* Remove text indentation in Chrome, Edge, and Safari */
}

/* # =================================================================
     # Forms
     # ================================================================= */
input {
  border-radius: 0;
}

/* Replace pointer cursor in disabled elements */
[disabled] {
  cursor: default;
}

[type='number']::-webkit-inner-spin-button,
[type='number']::-webkit-outer-spin-button {
  height: auto;
  /* Correct the cursor style of increment and decrement buttons in Chrome */
}

[type='search'] {
  -webkit-appearance: textfield;
  /* Correct the odd appearance in Chrome and Safari */
  outline-offset: -2px;
  /* Correct the outline style in Safari */
}

[type='search']::-webkit-search-decoration {
  -webkit-appearance: none;
  /* Remove the inner padding in Chrome and Safari on macOS */
}

textarea {
  overflow: auto;
  /* Internet Explorer 11+ */
  resize: vertical;
  /* Specify textarea resizability */
}

button,
input,
optgroup,
select,
textarea {
  font: inherit;
  /* Specify font inheritance of form elements */
}

optgroup {
  font-weight: bold;
  /* Restore the font weight unset by the previous rule */
}

button {
  overflow: visible;
  /* Address `overflow` set to `hidden` in IE 8/9/10/11 */
}

button,
select {
  text-transform: none;
  /* Firefox 40+, Internet Explorer 11- */
}

/* Apply cursor pointer to button elements */
button,
[type='button'],
[type='reset'],
[type='submit'],
[role='button'] {
  cursor: pointer;
  color: inherit;
}

/* Remove inner padding and border in Firefox 4+ */
button::-moz-focus-inner,
[type='button']::-moz-focus-inner,
[type='reset']::-moz-focus-inner,
[type='submit']::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/* Replace focus style removed in the border reset above */
button:-moz-focusring,
[type='button']::-moz-focus-inner,
[type='reset']::-moz-focus-inner,
[type='submit']::-moz-focus-inner {
  outline: 1px dotted ButtonText;
}

button,
html [type='button'],
[type='reset'],
[type='submit'] {
  -webkit-appearance: button;
  /* Correct the inability to style clickable types in iOS */
}

/* Remove the default button styling in all browsers */
button,
input,
select,
textarea {
  background-color: transparent;
  border-style: none;
}

a:focus,
button:focus,
input:focus,
select:focus,
textarea:focus {
  outline-width: 0;
}

/* Style select like a standard input */
select {
  -moz-appearance: none;
  /* Firefox 36+ */
  -webkit-appearance: none;
  /* Chrome 41+ */
}

select::-ms-expand {
  display: none;
  /* Internet Explorer 11+ */
}

select::-ms-value {
  color: currentColor;
  /* Internet Explorer 11+ */
}

legend {
  border: 0;
  /* Correct `color` not being inherited in IE 8/9/10/11 */
  color: inherit;
  /* Correct the color inheritance from `fieldset` elements in IE */
  display: table;
  /* Correct the text wrapping in Edge and IE */
  max-width: 100%;
  /* Correct the text wrapping in Edge and IE */
  white-space: normal;
  /* Correct the text wrapping in Edge and IE */
  max-width: 100%;
  /* Correct the text wrapping in Edge 18- and IE */
}

::-webkit-file-upload-button {
  /* Correct the inability to style clickable types in iOS and Safari */
  -webkit-appearance: button;
  color: inherit;
  font: inherit;
  /* Change font properties to `inherit` in Chrome and Safari */
}

/* # =================================================================
     # Specify media element style
     # ================================================================= */
img {
  border-style: none;
  /* Remove border when inside `a` element in IE 8/9/10 */
}

/* Add the correct vertical alignment in Chrome, Firefox, and Opera */
progress {
  vertical-align: baseline;
}

/* # =================================================================
     # Accessibility
     # ================================================================= */
/* Specify the progress cursor of updating elements */
[aria-busy='true'] {
  cursor: progress;
}

/* Specify the pointer cursor of trigger elements */
[aria-controls] {
  cursor: pointer;
}

/* Specify the unstyled cursor of disabled, not-editable, or otherwise inoperable elements */
[aria-disabled='true'] {
  cursor: default;
}

/* variable.scss */
/* フォント　書体 */
/* フォント　太さ*/
/* フォント　サイズ */
/* カラー */
/* レスポンシブ設定　ブレークポイント */
/* レスポンシブ設定　スマホ最小幅　PC最大幅 */
/* レスポンシブ設定　リキッドレイアウト用 */
/* レイアウト　幅*/
/* 線　コンポーネント */
/* mixin.scss */
/* フォントサイズ設定　簡易化 */
/* レスポンシブ設定 */
/* base.scss */
html {
  font-size: 62.5%;
}

body {
  display: grid;
  grid-template-rows: auto auto auto;
  grid-template-columns: minmax(375px, 100vw);
  color: #3C2A10;
  font-family: "M PLUS 1p", sans-serif;
  font-weight: 400;
  overflow-x: hidden;
}

@media screen and (min-width: 768px) {
  body {
    grid-template-columns: 100vw;
  }
}

@media screen and (min-width: 1201px) {
  body {
    grid-template-columns: 80vw 20vw;
  }
}

a {
  text-decoration: none;
}

ul > li {
  list-style: none;
}

/* ヘッダー　レイアウト */
.l-header {
  grid-row: 1/2;
  grid-column: 1/2;
}

/* メイン　レイアウト */
.l-main {
  grid-row: 2/3;
  grid-column: 1/2;
}

/* サイドバー　レイアウト */
@media screen and (min-width: 1201px) {
  .l-sidebar {
    grid-row: 1/4;
    grid-column: 2/3;
  }
}

/* フッター　レイアウト */
.l-footer {
  grid-row: 3/4;
  grid-column: 1/2;
}

/* カード　レイアウト */
.l-card {
  display: grid;
  grid-template-rows: auto auto auto;
  grid-template-columns: auto;
}

.l-card__img {
  grid-row: 1/2;
  grid-column: 1/2;
}

.l-card__body {
  grid-row: 2/3;
  grid-column: 1/2;
}

.l-card__btnarea {
  grid-row: 3/4;
  grid-column: 1/2;
}

@media screen and (min-width: 768px) {
  .l-card {
    grid-template-rows: auto auto;
    grid-template-columns: 1fr 1fr;
  }
  .l-card__img {
    grid-row: 1/3;
    grid-column: 1/2;
  }
  .l-card__body {
    grid-row: 1/2;
    grid-column: 2/3;
  }
  .l-card__btnarea {
    grid-row: 2/3;
    grid-column: 2/3;
  }
}

/* レイアウト　コンポーネント */
.c-layout, .c-layout--2column {
  display: grid;
}

.c-layout--2column {
  grid-template-rows: 1fr 1fr;
  grid-template-columns: auto;
}

@media screen and (min-width: 768px) {
  .c-layout--2column {
    grid-template-rows: auto;
    grid-template-columns: 1fr 1fr;
  }
}

/* クローズボタン */
.c-close {
  width: 32px;
  height: 32px;
}

.c-close::before, .c-close::after {
  content: "";
  width: 32px;
  height: 4px;
  background-color: #707070;
  display: block;
  position: absolute;
}

.c-close::before {
  transform: rotate(45deg);
}

.c-close::after {
  transform: rotate(-45deg);
}

/* ボタン　コンポーネント */
.c-btn, .c-btn--search, .c-btn--detail {
  display: block;
  font-weight: 700;
  background: linear-gradient(#f2ede9 0%, #ded8d3 100%);
  border: 1px solid #707070;
}

.c-btn--search {
  border-radius: 10px;
  padding-top: 12px;
  padding-bottom: 12px;
}

.c-btn--detail {
  border-radius: 50px;
  background: #fff;
}

/* ヘッドライン　コンポーネント */
.c-headline, .c-headline--underline {
  font-weight: 700;
}

.c-headline--underline::after {
  content: "";
  background-color: #fff;
  display: block;
}

/* 検索フォーム入力エリア コンポーネント*/
.c-searchbox, .c-searchbox--icon {
  height: 46px;
  border-radius: 10px;
  background: #fff;
  border: 1px solid #707070;
  display: block;
}

.c-searchbox--icon {
  content: \f002;
  font-family: "Font Awesome 5 Free";
  font-weight: 700;
  font-size: 25px;
  padding-left: 15px;
}

/* link コンポーネント */
.c-link--block {
  display: block;
}

.c-link--inlineblock {
  display: inline-block;
}

/* 定義リスト　コンポーネント */
.c-definition__headline {
  font-weight: 700;
}

.c-definition__description {
  word-wrap: break-word;
}

/* 地図　コンポーネント */
.c-map {
  width: 100%;
  height: 100%;
}

/* 線　コンポーネント */
.c-line, .c-line--vertical {
  background-color: #fff;
}

.c-line--vertical {
  width: 2px;
  height: 20px;
}

/* コピーライト　コンポーネント */
.c-copyright {
  color: #fff;
  font-size: 1.4rem;
}

/* カードコンポーネント */
.c-img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

/* ページネーション　コンポーネント */
.c-pagination {
  color: #707070;
  font-size: 1.6rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media screen and (min-width: 768px) {
  .c-pagination {
    justify-content: center;
  }
}

.c-pagination__current {
  display: none;
}

@media screen and (min-width: 768px) {
  .c-pagination__current {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    display: block;
  }
}

.c-pagination__mark .c-link, .c-pagination__mark--prev .c-link, .c-pagination__mark--next .c-link, .wp-pagenavi .previouspostslink .c-link, .wp-pagenavi .nextpostslink .c-link {
  color: #707070;
}

.c-pagination__mark .c-link:hover, .c-pagination__mark--prev .c-link:hover, .c-pagination__mark--next .c-link:hover, .wp-pagenavi .previouspostslink .c-link:hover, .wp-pagenavi .nextpostslink .c-link:hover {
  color: silver;
}

.c-pagination__mark--prev::after {
  content: "前へ";
  margin-left: 8.2px;
}

@media screen and (min-width: 768px) {
  .c-pagination__mark--prev::after {
    display: none;
  }
}

.c-pagination__mark--next::before {
  content: "次へ";
  margin-right: 7.3px;
}

@media screen and (min-width: 768px) {
  .c-pagination__mark--next::before {
    display: none;
  }
}

.c-pagination__number {
  display: none;
}

.c-pagination__number .c-link {
  color: #707070;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.c-pagination__number .c-link:hover {
  color: #fff;
  background-color: #3C2B1C;
}

@media screen and (min-width: 768px) {
  .c-pagination__number {
    display: block;
    width: 35px;
    height: 35px;
    border: 1px solid #707070;
  }
}

/* ページネーション　コンポーネント */
.wp-pagenavi {
  color: #707070;
  font-size: 1.6rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media screen and (min-width: 768px) {
  .wp-pagenavi {
    justify-content: center;
  }
}

.wp-pagenavi .pages {
  display: none;
  border: none;
}

@media screen and (min-width: 768px) {
  .wp-pagenavi .pages {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    display: block;
  }
}

.wp-pagenavi .previouspostslink {
  border: none;
  color: #707070;
}

.wp-pagenavi .previouspostslink:hover {
  color: silver;
}

.wp-pagenavi .previouspostslink::after {
  content: "前へ";
  margin-left: 8.2px;
}

@media screen and (min-width: 768px) {
  .wp-pagenavi .previouspostslink::after {
    display: none;
  }
}

.wp-pagenavi .nextpostslink {
  border: none;
  color: #707070;
}

.wp-pagenavi .nextpostslink:hover {
  color: silver;
}

.wp-pagenavi .nextpostslink::before {
  content: "次へ";
  margin-right: 7.3px;
}

@media screen and (min-width: 768px) {
  .wp-pagenavi .nextpostslink::before {
    display: none;
  }
}

.wp-pagenavi .page,
.wp-pagenavi .current {
  display: none;
}

@media screen and (min-width: 768px) {
  .wp-pagenavi .page,
  .wp-pagenavi .current {
    color: #707070;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35px;
    height: 35px;
    border: 1px solid #707070;
  }
  .wp-pagenavi .page:hover,
  .wp-pagenavi .current:hover {
    color: #fff;
    background-color: #3C2B1C;
  }
}

.wp-pagenavi__mark .c-link {
  color: #707070;
}

.wp-pagenavi__mark .c-link:hover {
  color: silver;
}

/* 引用　コンポーネント */
.c-blockquote {
  background-color: #F5F5F5;
  font-size: 1.6rem;
  padding: 30px 16px 30px 20px;
}

@media screen and (min-width: 768px) {
  .c-blockquote {
    padding: 50px 56px 60px 50px;
  }
}

@media screen and (min-width: 1201px) {
  .c-blockquote {
    padding-top: calc(50 * clamp(375px, 100vw, 1920px) / 1920);
    padding-right: calc(60 * clamp(375px, 100vw, 1920px) / 1920);
    padding-bottom: calc(50 * clamp(375px, 100vw, 1920px) / 1920);
    padding-left: calc(50 * clamp(375px, 100vw, 1920px) / 1920);
  }
}

.c-blockquote .c-link {
  color: #4A6C9B;
  text-decoration: underline;
}

/* コードテキスト　コンポーネント */
.c-code {
  font-size: 1.6rem;
  background-color: #F5F5F5;
  word-wrap: break-word;
  padding: 50px;
}

/* テーブル　コンポーネント */
.c-table {
  font-size: 1.6rem;
  border-collapse: collapse;
  width: 100%;
}

.c-table__row__data, .c-table__row__data--left, .c-table__row__data--right {
  border: 1px solid #707070;
  padding-top: 28px;
  padding-left: 30px;
  padding-bottom: 27px;
}

.c-table__row__data--left {
  width: 40%;
}

.c-table__row__data--right {
  width: 60%;
}

/* タグ　コンポーネント */
.c-tag {
  font-size: 1.6rem;
  font-weight: 700;
}

/* ヘッダー プロジェクト */
.p-header {
  background-color: #FFF7EF;
  font-family: "Roboto", sans-serif;
}

@media screen and (min-width: 1201px) {
  .p-header {
    padding-top: calc(67 * clamp(375px, 100vw, 1920px) / 1920);
    padding-right: calc(31 * clamp(375px, 100vw, 1920px) / 1920);
    padding-bottom: calc(66 * clamp(375px, 100vw, 1920px) / 1920);
    padding-left: calc(65 * clamp(375px, 100vw, 1920px) / 1920);
  }
}

.p-header > .c-headline, .p-header > .c-headline--underline {
  color: #707070;
  display: block;
  margin: 0 0 0 auto;
  position: relative;
  top: 14px;
  right: 16px;
  font-size: 2rem;
}

.p-header > .c-headline:hover, .p-header > .c-headline--underline:hover {
  color: silver;
}

@media screen and (min-width: 768px) {
  .p-header > .c-headline, .p-header > .c-headline--underline {
    font-size: 3.4rem;
    top: 18px;
    right: 26px;
  }
}

@media screen and (min-width: 1201px) {
  .p-header > .c-headline, .p-header > .c-headline--underline {
    display: none;
  }
}

.p-header .c-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 0 40px;
}

@media screen and (min-width: 1201px) {
  .p-header .c-wrapper {
    flex-direction: row;
    justify-content: space-between;
  }
}

.p-header .c-wrapper .c-headline .c-link, .p-header .c-wrapper .c-headline--underline .c-link {
  color: #707070;
  font-size: 4rem;
}

.p-header .c-wrapper .c-headline .c-link:hover, .p-header .c-wrapper .c-headline--underline .c-link:hover {
  color: silver;
}

@media screen and (min-width: 1201px) {
  .p-header .c-wrapper .c-headline .c-link, .p-header .c-wrapper .c-headline--underline .c-link {
    font-size: calc(64 * clamp(375px, 100vw, 1920px) / 1920);
  }
}

/* 検索フォーム　プロジェクト */
.p-search {
  display: flex;
}

.p-search .c-searchbox, .p-search .c-searchbox--icon {
  width: 230px;
}

@media screen and (min-width: 768px) {
  .p-search .c-searchbox, .p-search .c-searchbox--icon {
    width: 396px;
  }
}

@media screen and (min-width: 1201px) {
  .p-search .c-searchbox, .p-search .c-searchbox--icon {
    width: calc(396 * clamp(375px, 100vw, 1920px) / 1920);
  }
}

.p-search .c-btn--search {
  width: 78px;
  font-size: 16px;
  color: #707070;
}

.p-search .c-btn--search:active {
  color: #fff;
  background: #707070;
}

@media screen and (min-width: 768px) {
  .p-search .c-btn--search {
    width: 136px;
  }
}

@media screen and (min-width: 1201px) {
  .p-search .c-btn--search {
    width: calc(136 * clamp(375px, 100vw, 1920px) / 1920);
  }
}

/* メニューボタンでのサイドバースライド　プロジェクト */
body.is-open {
  position: fixed;
}

.c-overlay.is-open {
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
  z-index: 2000;
}

@media screen and (min-width: 1201px) {
  .c-overlay.is-open {
    display: none;
  }
}

.p-sidebar.is-open {
  transition: .5s;
  z-index: 2100;
  height: 100vh;
  overflow-y: auto;
  left: 13vw;
}

@media screen and (min-width: 768px) {
  .p-sidebar.is-open {
    left: 56vw;
  }
}

/* メイン　プロジェクト */
.p-main__body, .p-main__body--archive, .p-main__body--single {
  background-color: #FFFDFA;
}

.p-main__body__headline {
  font-size: 2.8rem;
}

@media screen and (min-width: 768px) {
  .p-main__body__headline {
    font-size: 3.6rem;
  }
}

.p-main__body__description {
  font-size: 1.6rem;
}

.p-main__body--archive {
  padding: 30px 18px 30px 22px;
}

@media screen and (min-width: 768px) {
  .p-main__body--archive {
    padding: 36px 35px 30px 42px;
  }
}

@media screen and (min-width: 1201px) {
  .p-main__body--archive {
    padding-top: calc(60 * clamp(375px, 100vw, 1920px) / 1920);
    padding-right: calc(100 * clamp(375px, 100vw, 1920px) / 1920);
    padding-bottom: calc(64 * clamp(375px, 100vw, 1920px) / 1920);
    padding-left: calc(100 * clamp(375px, 100vw, 1920px) / 1920);
  }
}

.p-main__body--single {
  padding: 30px 20px 184px;
}

@media screen and (min-width: 768px) {
  .p-main__body--single {
    padding: 60px 60px 228px;
  }
}

@media screen and (min-width: 1201px) {
  .p-main__body--single {
    padding-top: calc(60 * clamp(375px, 100vw, 1920px) / 1920);
    padding-right: calc(100 * clamp(375px, 100vw, 1920px) / 1920);
    padding-bottom: calc(353 * clamp(375px, 100vw, 1920px) / 1920);
    padding-left: calc(100 * clamp(375px, 100vw, 1920px) / 1920);
  }
}

.p-main__body--single .c-btn, .p-main__body--single .c-btn--search, .p-main__body--single .c-btn--detail {
  font-size: 1.6rem;
  width: 335px;
  border-radius: 20px;
  padding-top: 28px;
  padding-bottom: 31px;
}

@media screen and (min-width: 768px) {
  .p-main__body--single .c-btn, .p-main__body--single .c-btn--search, .p-main__body--single .c-btn--detail {
    width: 429px;
    padding-top: 41px;
    padding-bottom: 41px;
  }
}

.p-main__body--single .c-btn:active, .p-main__body--single .c-btn--search:active, .p-main__body--single .c-btn--detail:active {
  color: #fff;
  background: #707070;
}

/* ヒーロー　プロジェクト */
.p-hero, .p-hero--home, .p-hero--archive, .p-hero--single, .p-hero--page {
  font-weight: 700;
  color: #fff;
  padding-left: 25px;
  /* ページ毎の設定 */
  /* ページ毎の設定 */
}

@media screen and (min-width: 768px) {
  .p-hero, .p-hero--home, .p-hero--archive, .p-hero--single, .p-hero--page {
    padding-left: 86px;
  }
}

.p-hero--home {
  background-image: url(../images/hero--home.jpg);
  background-size: cover;
  background-position: center;
  padding-top: 119px;
  padding-bottom: 115px;
}

@media screen and (min-width: 1201px) {
  .p-hero--home {
    padding-top: calc(231 * clamp(375px, 100vw, 1920px) / 1920);
    padding-bottom: calc(243 * clamp(375px, 100vw, 1920px) / 1920);
  }
}

.p-hero--home .p-hero__headline {
  font-size: 3.6rem;
}

@media screen and (min-width: 1201px) {
  .p-hero--home .p-hero__headline {
    font-size: calc(40 * clamp(375px, 100vw, 1920px) / 1920);
  }
}

.p-hero--archive {
  background-image: url(../images/hero--archive.png);
  background-color: #000;
  background-size: cover;
  background-position: 30% 0;
  padding-top: 102px;
  padding-bottom: 104px;
}

@media screen and (min-width: 768px) {
  .p-hero--archive {
    display: flex;
    align-items: center;
    background-position: center;
  }
}

@media screen and (min-width: 1201px) {
  .p-hero--archive {
    padding-top: calc(80 * clamp(375px, 100vw, 1920px) / 1920);
    padding-bottom: calc(80 * clamp(375px, 100vw, 1920px) / 1920);
  }
}

.p-hero--archive .p-hero__headline {
  font-family: "Roboto", sans-serif;
  font-size: 3.6rem;
}

@media screen and (min-width: 768px) {
  .p-hero--archive .p-hero__headline {
    font-size: 6rem;
  }
}

.p-hero--archive .p-hero__lead {
  font-size: 1.6rem;
}

.p-hero--single, .p-hero--page {
  background-image: url(../images/hero--single.jpg);
  background-size: cover;
  background-position: center;
  padding-top: 91px;
  padding-bottom: 91px;
}

@media screen and (min-width: 768px) {
  .p-hero--single, .p-hero--page {
    padding-top: 209px;
    padding-bottom: 208px;
  }
}

.p-hero--single .p-hero__headline, .p-hero--page .p-hero__headline {
  font-size: 3.6rem;
}

@media screen and (min-width: 768px) {
  .p-hero--single .p-hero__headline, .p-hero--page .p-hero__headline {
    font-size: 6rem;
  }
}

.p-hero--page {
  background-image: url(../images/hero--page.jpg);
  padding-left: 45px;
}

@media screen and (min-width: 768px) {
  .p-hero--page {
    padding-left: 86px;
  }
}

/* 提供サービス　プロジェクト */
.p-service {
  row-gap: calc(20 * clamp(375px, 100vw, 1920px) / 375);
  padding-top: calc(20 * clamp(375px, 100vw, 1920px) / 375);
  padding-right: calc(20 * clamp(375px, 100vw, 1920px) / 375);
  padding-bottom: calc(49 * clamp(375px, 100vw, 1920px) / 375);
  padding-left: calc(20 * clamp(375px, 100vw, 1920px) / 375);
}

@media screen and (min-width: 768px) {
  .p-service {
    column-gap: calc(41 * clamp(375px, 100vw, 1920px) / 834);
    padding: calc(40 * clamp(375px, 100vw, 1920px) / 834);
  }
}

@media screen and (min-width: 1201px) {
  .p-service {
    column-gap: calc(80 * clamp(375px, 100vw, 1920px) / 1920);
    padding-top: calc(120 * clamp(375px, 100vw, 1920px) / 1920);
    padding-right: calc(111 * clamp(375px, 100vw, 1920px) / 1920);
    padding-bottom: calc(131 * clamp(375px, 100vw, 1920px) / 1920);
    padding-left: calc(112 * clamp(375px, 100vw, 1920px) / 1920);
  }
}

.p-service__list, .p-service__list--left, .p-service__list--right {
  background-size: cover;
  position: relative;
  padding-top: calc(11 * clamp(375px, 100vw, 1920px) / 375);
  padding-right: calc(10 * clamp(375px, 100vw, 1920px) / 375);
  padding-bottom: calc(10 * clamp(375px, 100vw, 1920px) / 375);
  padding-left: calc(10 * clamp(375px, 100vw, 1920px) / 375);
}

.p-service__list:hover, .p-service__list--left:hover, .p-service__list--right:hover {
  opacity: 0.6;
}

@media screen and (min-width: 768px) {
  .p-service__list, .p-service__list--left, .p-service__list--right {
    padding-top: calc(12 * clamp(375px, 100vw, 1920px) / 834);
    padding-right: calc(11 * clamp(375px, 100vw, 1920px) / 834);
    padding-bottom: calc(11 * clamp(375px, 100vw, 1920px) / 834);
    padding-left: calc(11 * clamp(375px, 100vw, 1920px) / 834);
  }
}

@media screen and (min-width: 1201px) {
  .p-service__list, .p-service__list--left, .p-service__list--right {
    padding-top: calc(20 * clamp(375px, 100vw, 1920px) / 1920);
    padding-right: calc(19 * clamp(375px, 100vw, 1920px) / 1920);
    padding-bottom: calc(20 * clamp(375px, 100vw, 1920px) / 1920);
    padding-left: calc(20 * clamp(375px, 100vw, 1920px) / 1920);
  }
}

.p-service__list--left {
  background-image: url(../images/service__list--left.jpg);
}

.p-service__list--right {
  background-image: url(../images/service__list--right.jpg);
}

.p-service__list__innner {
  position: absolute;
  z-index: 500;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.p-service__list .c-link--block, .p-service__list--left .c-link--block, .p-service__list--right .c-link--block {
  position: absolute;
  z-index: 600;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.p-service__list .c-headline--underline, .p-service__list--left .c-headline--underline, .p-service__list--right .c-headline--underline {
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-size: calc(41 * clamp(375px, 100vw, 1920px) / 375);
}

.p-service__list .c-headline--underline::after, .p-service__list--left .c-headline--underline::after, .p-service__list--right .c-headline--underline::after {
  width: calc(35 * clamp(375px, 100vw, 1920px) / 375);
  height: 4px;
  margin-top: calc(19.3 * clamp(375px, 100vw, 1920px) / 375);
}

@media screen and (min-width: 768px) {
  .p-service__list .c-headline--underline, .p-service__list--left .c-headline--underline, .p-service__list--right .c-headline--underline {
    font-size: calc(44 * clamp(375px, 100vw, 1920px) / 834);
  }
  .p-service__list .c-headline--underline::after, .p-service__list--left .c-headline--underline::after, .p-service__list--right .c-headline--underline::after {
    width: calc(40 * clamp(375px, 100vw, 1920px) / 834);
    margin-top: calc(19.5 * clamp(375px, 100vw, 1920px) / 834);
  }
}

@media screen and (min-width: 1201px) {
  .p-service__list .c-headline--underline, .p-service__list--left .c-headline--underline, .p-service__list--right .c-headline--underline {
    font-size: calc(80 * clamp(375px, 100vw, 1920px) / 1920);
  }
  .p-service__list .c-headline--underline::after, .p-service__list--left .c-headline--underline::after, .p-service__list--right .c-headline--underline::after {
    width: calc(70 * clamp(375px, 100vw, 1920px) / 1920);
    margin-top: calc(30.5 * clamp(375px, 100vw, 1920px) / 1920);
  }
}

.p-service__list .c-definition, .p-service__list--left .c-definition, .p-service__list--right .c-definition {
  background: #fff;
  opacity: 0.8;
  padding: 19px 14px 23px 10px;
}

@media screen and (min-width: 768px) {
  .p-service__list .c-definition, .p-service__list--left .c-definition, .p-service__list--right .c-definition {
    padding: 20px 15px 22px 11px;
  }
}

@media screen and (min-width: 1201px) {
  .p-service__list .c-definition, .p-service__list--left .c-definition, .p-service__list--right .c-definition {
    padding: 17px 25px 22px 19px;
  }
}

.p-service__list .c-definition__headline, .p-service__list--left .c-definition__headline, .p-service__list--right .c-definition__headline {
  font-size: calc(22 * clamp(375px, 100vw, 1920px) / 375);
}

@media screen and (min-width: 768px) {
  .p-service__list .c-definition__headline, .p-service__list--left .c-definition__headline, .p-service__list--right .c-definition__headline {
    font-size: calc(24 * clamp(375px, 100vw, 1920px) / 834);
  }
}

@media screen and (min-width: 1201px) {
  .p-service__list .c-definition__headline, .p-service__list--left .c-definition__headline, .p-service__list--right .c-definition__headline {
    font-size: calc(24 * clamp(375px, 100vw, 1920px) / 1920);
  }
}

.p-service__list .c-definition__description, .p-service__list--left .c-definition__description, .p-service__list--right .c-definition__description {
  font-size: calc(16 * clamp(375px, 100vw, 1920px) / 375);
}

@media screen and (min-width: 768px) {
  .p-service__list .c-definition__description, .p-service__list--left .c-definition__description, .p-service__list--right .c-definition__description {
    font-size: calc(16 * clamp(375px, 100vw, 1920px) / 834);
  }
}

@media screen and (min-width: 1201px) {
  .p-service__list .c-definition__description, .p-service__list--left .c-definition__description, .p-service__list--right .c-definition__description {
    font-size: calc(16 * clamp(375px, 100vw, 1920px) / 1920);
  }
}

/* 住所　プロジェクト */
.p-info {
  background: #000;
  position: relative;
}

.p-info .c-map {
  position: absolute;
  z-index: 500;
  top: 0;
  left: 0;
  opacity: 0.6;
}

.p-info .c-definition {
  position: relative;
  z-index: 600;
  background-color: rgba(0, 0, 0, 0.29);
  padding: 40px 40px 51px 42px;
  pointer-events: none;
}

@media screen and (min-width: 768px) {
  .p-info .c-definition {
    padding: 40px 29px 39px 42px;
  }
}

@media screen and (min-width: 1201px) {
  .p-info .c-definition {
    width: 61%;
    padding-top: calc(83 * clamp(375px, 100vw, 1920px) / 1920);
    padding-right: calc(134 * clamp(375px, 100vw, 1920px) / 1920);
    padding-bottom: calc(40 * clamp(375px, 100vw, 1920px) / 1920);
    padding-left: calc(119 * clamp(375px, 100vw, 1920px) / 1920);
  }
}

.p-info .c-definition__description {
  color: #fff;
  font-size: 1.4rem;
}

@media screen and (min-width: 1201px) {
  .p-info .c-definition__description {
    font-size: calc(16 * clamp(375px, 100vw, 1920px) / 1920);
  }
}

.p-info .c-headline--underline {
  color: #fff;
  font-size: 3rem;
}

.p-info .c-headline--underline::after {
  width: 75px;
  height: 2px;
  margin-top: 20px;
  margin-bottom: 20px;
}

@media screen and (min-width: 1201px) {
  .p-info .c-headline--underline {
    font-size: calc(36 * clamp(375px, 100vw, 1920px) / 1920);
  }
  .p-info .c-headline--underline::after {
    width: calc(75 * clamp(375px, 100vw, 1920px) / 1920);
    margin-top: calc(55.5 * clamp(375px, 100vw, 1920px) / 1920);
    margin-bottom: calc(63.5 * clamp(375px, 100vw, 1920px) / 1920);
  }
}

/* アーカイブ　プロジェクト */
.p-archive__error {
  font-size: 2.8rem;
}

@media screen and (min-width: 768px) {
  .p-archive__error {
    font-size: 3.6rem;
  }
}

/* カード　プロジェクト */
.p-card {
  background-color: #3C2B1C;
  color: #fff;
}

.p-card__body {
  padding: 31.5px 73.1px 17px 40px;
}

@media screen and (min-width: 768px) {
  .p-card__body {
    padding: 30px 59px 34.7px 45px;
  }
}

@media screen and (min-width: 1201px) {
  .p-card__body {
    padding-top: calc(53 * clamp(375px, 100vw, 1920px) / 1920);
    padding-right: calc(104 * clamp(375px, 100vw, 1920px) / 1920);
    padding-left: calc(63 * clamp(375px, 100vw, 1920px) / 1920);
    padding-bottom: calc(60 * clamp(375px, 100vw, 1920px) / 1920);
  }
}

.p-card__body__headline {
  font-weight: 700;
  font-size: 2rem;
}

@media screen and (min-width: 1201px) {
  .p-card__body__headline {
    font-size: calc(36 * clamp(375px, 100vw, 1920px) / 1920);
  }
}

.p-card__body__subheadline {
  font-weight: 700;
  font-size: 1.6rem;
}

@media screen and (min-width: 1201px) {
  .p-card__body__subheadline {
    font-size: calc(24 * clamp(375px, 100vw, 1920px) / 1920);
  }
}

.p-card__body__description {
  word-wrap: break-word;
  font-size: 1.6rem;
}

.p-card__btnarea {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 43.7px;
}

@media screen and (min-width: 768px) {
  .p-card__btnarea {
    padding-bottom: 40px;
  }
}

@media screen and (min-width: 1201px) {
  .p-card__btnarea {
    padding-bottom: calc(60 * clamp(375px, 100vw, 1920px) / 1920);
  }
}

.p-card__btnarea .c-btn--detail {
  color: #707070;
  font-size: 1.6rem;
  width: 163.16px;
  padding-top: 10px;
  padding-bottom: 10.5px;
  text-align: center;
}

.p-card__btnarea .c-btn--detail:hover {
  color: #fff;
  background: #707070;
  border: 1px solid #fff;
}

@media screen and (min-width: 1201px) {
  .p-card__btnarea .c-btn--detail {
    width: calc(292 * clamp(375px, 100vw, 1920px) / 1920);
    padding-top: calc(27 * clamp(375px, 100vw, 1920px) / 1920);
    padding-bottom: calc(27 * clamp(375px, 100vw, 1920px) / 1920);
  }
}

/* 製品紹介　プロジェクト */
.p-product__headline, .p-product__headline--secondary, .p-product__headline--tertiary, .p-product__headline--quaternary {
  font-weight: 700;
  font-size: 2.4rem;
}

@media screen and (min-width: 768px) {
  .p-product__headline, .p-product__headline--secondary, .p-product__headline--tertiary, .p-product__headline--quaternary {
    font-size: 2.8rem;
  }
}

.p-product__headline--secondary {
  font-size: 2rem;
}

.p-product__headline--tertiary {
  font-size: 2rem;
}

.p-product__headline--quaternary {
  font-size: 2rem;
}

/* 詳細紹介　プロジェクト */
.p-detail {
  font-size: 1.6rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.p-detail__img--top {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.p-detail__card {
  display: flex;
  align-items: start;
}

.p-detail__card__img {
  object-fit: contain;
  width: 43%;
}

.p-detail__card__description {
  word-wrap: break-word;
}

.p-detail__img--bottom {
  width: 80%;
}

/* ギャラリー　プロジェクト */
.p-gallery {
  display: grid;
  row-gap: calc(20 * clamp(375px, 100vw, 1920px) / 375);
}

@media screen and (min-width: 768px) {
  .p-gallery {
    grid-template-columns: repeat(2, 1fr);
    row-gap: calc(20 * clamp(375px, 100vw, 1920px) / 834);
    column-gap: calc(16 * clamp(375px, 100vw, 1920px) / 834);
  }
}

@media screen and (min-width: 1201px) {
  .p-gallery {
    grid-template-columns: repeat(3, 1fr);
    gap: calc(20 * clamp(375px, 100vw, 1920px) / 1920);
  }
}

/* リスト　プロジェクト */
.p-bullets {
  font-size: 1.6rem;
  padding-top: 30px;
  padding-bottom: 30px;
}

@media screen and (min-width: 768px) {
  .p-bullets {
    padding-top: 60px;
    padding-bottom: 60px;
    padding-left: 50px;
  }
}

.p-bullets__unit--ol {
  padding-left: 20px;
}

/* サイドバー　プロジェクト */
.p-sidebar {
  width: 87vw;
  background-color: #F2EDE9;
  padding-top: 212px;
  padding-left: 46px;
  position: fixed;
  left: 100%;
}

@media screen and (min-width: 768px) {
  .p-sidebar {
    width: 44vw;
  }
}

@media screen and (min-width: 1201px) {
  .p-sidebar {
    padding-top: 82px;
    width: 100%;
    position: static;
    left: inherit;
  }
}

.p-sidebar .c-close {
  position: absolute;
  top: 25px;
  right: 17px;
}

@media screen and (min-width: 1201px) {
  .p-sidebar .c-close {
    display: none;
  }
}

.p-sidebar .c-headline, .p-sidebar .c-headline--underline {
  color: #707070;
  font-family: "Roboto", sans-serif;
  font-size: 3.4rem;
  display: none;
}

@media screen and (min-width: 1201px) {
  .p-sidebar .c-headline, .p-sidebar .c-headline--underline {
    display: block;
  }
}

@media screen and (min-width: 1201px) and (min-width: 1201px) {
  .p-sidebar .c-headline, .p-sidebar .c-headline--underline {
    font-size: calc(34 * clamp(375px, 100vw, 1920px) / 1920);
  }
}

/* グローバルメニュー プロジェクト */
.p-gmenu__list > .c-link {
  color: #707070;
  font-weight: 700;
  font-size: 2.4rem;
}

.p-gmenu__list > .c-link:hover {
  color: silver;
}

@media screen and (min-width: 1201px) {
  .p-gmenu__list > .c-link {
    font-size: calc(24 * clamp(375px, 100vw, 1920px) / 1920);
  }
}

/* ローカルメニュー プロジェクト */
.p-lmenu {
  padding: 36px 0 38px 20px;
}

.p-lmenu__list .c-link {
  color: #707070;
  font-size: 2rem;
}

.p-lmenu__list .c-link:hover {
  color: silver;
}

@media screen and (min-width: 1201px) {
  .p-lmenu__list .c-link {
    font-size: calc(20 * clamp(375px, 100vw, 1920px) / 1920);
  }
}

/* フッター プロジェクト */
.p-footer {
  background-image: url(../images/footer.png);
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 40px 0 30px;
}

.p-footer__menu {
  display: flex;
  align-items: center;
  justify-content: center;
}

.p-footer__menu__list .c-link {
  color: #fff;
  font-size: 2rem;
}

.p-footer__menu__list .c-link:hover {
  color: silver;
}

/* 隣接セレクタ マージントップ ユーティリティ */
.p-footer__menu + .c-copyright {
  margin-top: 34px;
}

.c-headline + .p-search, .c-headline--underline + .p-search {
  margin-top: 38px;
}

@media screen and (min-width: 1201px) {
  .c-headline + .p-search, .c-headline--underline + .p-search {
    margin-top: 0;
  }
}

.p-lmenu__list + .p-lmenu__list {
  margin-top: 23px;
}

@media screen and (min-width: 1201px) {
  .c-headline + .p-sidebar__nav, .c-headline--underline + .p-sidebar__nav {
    margin-top: calc(85 * clamp(375px, 100vw, 1920px) / 1920);
  }
}

.c-definition__headline + .c-definition__description {
  margin-top: 20px;
}

@media screen and (min-width: 1201px) {
  .c-definition__headline + .c-definition__description {
    margin-top: 26px;
  }
}

.c-definition + .c-definition {
  margin-top: 10px;
}

@media screen and (min-width: 1201px) {
  .c-definition + .c-definition {
    margin-top: 20px;
  }
}

.c-headline--underline + .c-wrapper {
  margin-top: 211.7px;
}

@media screen and (min-width: 768px) {
  .c-headline--underline + .c-wrapper {
    margin-top: calc(224.4 * clamp(375px, 100vw, 1920px) / 834);
  }
}

@media screen and (min-width: 1201px) {
  .c-headline--underline + .c-wrapper {
    margin-top: calc(644.5 * clamp(375px, 100vw, 1920px) / 1920);
  }
}

.p-card__body__headline + .p-card__body__subheadline {
  margin-top: 24px;
}

@media screen and (min-width: 1201px) {
  .p-card__body__headline + .p-card__body__subheadline {
    margin-top: calc(47 * clamp(375px, 100vw, 1920px) / 1920);
  }
}

.p-card__body__subheadline + .p-card__body__description {
  margin-top: 10px;
}

@media screen and (min-width: 1201px) {
  .p-card__body__subheadline + .p-card__body__description {
    margin-top: calc(17 * clamp(375px, 100vw, 1920px) / 1920);
  }
}

.p-archive__list + .p-archive__list {
  margin-top: 20.9px;
}

@media screen and (min-width: 768px) {
  .p-archive__list + .p-archive__list {
    margin-top: 20.5px;
  }
}

@media screen and (min-width: 1201px) {
  .p-archive__list + .p-archive__list {
    margin-top: calc(30 * clamp(375px, 100vw, 1920px) / 1920);
  }
}

.p-archive__list + .c-pagination {
  margin-top: 69.9px;
}

@media screen and (min-width: 768px) {
  .p-archive__list + .c-pagination {
    margin-top: 105.5px;
  }
}

@media screen and (min-width: 1201px) {
  .p-archive__list + .c-pagination {
    margin-top: calc(150 * clamp(375px, 100vw, 1920px) / 1920);
  }
}

.p-archive__error + .c-pagination {
  margin-top: 69.9px;
}

@media screen and (min-width: 768px) {
  .p-archive__error + .c-pagination {
    margin-top: 105.5px;
  }
}

@media screen and (min-width: 1201px) {
  .p-archive__error + .c-pagination {
    margin-top: calc(150 * clamp(375px, 100vw, 1920px) / 1920);
  }
}

.p-main__body__description + .p-archive__error {
  margin-top: 19px;
}

@media screen and (min-width: 768px) {
  .p-main__body__description + .p-archive__error {
    margin-top: 37px;
  }
}

@media screen and (min-width: 1201px) {
  .p-main__body__description + .p-archive__error {
    margin-top: calc(70 * clamp(375px, 100vw, 1920px) / 1920);
  }
}

.p-main__body__headline + .p-main__body__description {
  margin-top: 30px;
}

@media screen and (min-width: 768px) {
  .p-main__body__headline + .p-main__body__description {
    margin-top: 25px;
  }
}

@media screen and (min-width: 1201px) {
  .p-main__body__headline + .p-main__body__description {
    margin-top: calc(25 * clamp(375px, 100vw, 1920px) / 1920);
  }
}

.p-main__body__description + .p-archive {
  margin-top: 19px;
}

@media screen and (min-width: 768px) {
  .p-main__body__description + .p-archive {
    margin-top: 37px;
  }
}

@media screen and (min-width: 1201px) {
  .p-main__body__description + .p-archive {
    margin-top: calc(70 * clamp(375px, 100vw, 1920px) / 1920);
  }
}

.p-main__body__description + .p-product {
  margin-top: 60px;
}

.p-product__headline + .p-product__headline--secondary, .p-product__headline--secondary + .p-product__headline--secondary, .p-product__headline--tertiary + .p-product__headline--secondary, .p-product__headline--quaternary + .p-product__headline--secondary {
  margin-top: 60px;
}

.p-product__headline--secondary + .p-product__headline--tertiary {
  margin-top: 60px;
}

.p-product__headline--tertiary + .p-product__headline--quaternary {
  margin-top: 60px;
}

.p-product__headline--quaternary + .c-blockquote {
  margin-top: 60px;
}

.c-blockquote__description + .c-blockquote__source {
  margin-top: 30px;
}

@media screen and (min-width: 768px) {
  .c-blockquote__description + .c-blockquote__source {
    margin-top: 60px;
  }
}

@media screen and (min-width: 1201px) {
  .c-blockquote__description + .c-blockquote__source {
    margin-top: calc(60 * clamp(375px, 100vw, 1920px) / 1920);
  }
}

.c-blockquote + .p-detail {
  margin-top: 30px;
}

@media screen and (min-width: 768px) {
  .c-blockquote + .p-detail {
    margin-top: 60px;
  }
}

@media screen and (min-width: 1201px) {
  .c-blockquote + .p-detail {
    margin-top: calc(60 * clamp(375px, 100vw, 1920px) / 1920);
  }
}

.p-product + .p-gallery {
  margin-top: 20px;
}

@media screen and (min-width: 768px) {
  .p-product + .p-gallery {
    margin-top: 241px;
  }
}

@media screen and (min-width: 1201px) {
  .p-product + .p-gallery {
    margin-top: calc(60 * clamp(375px, 100vw, 1920px) / 1920);
  }
}

.p-detail__img--top + .p-detail__card {
  margin-top: 30px;
}

@media screen and (min-width: 768px) {
  .p-detail__img--top + .p-detail__card {
    margin-top: 60px;
  }
}

@media screen and (min-width: 1201px) {
  .p-detail__img--top + .p-detail__card {
    margin-top: calc(60 * clamp(375px, 100vw, 1920px) / 1920);
  }
}

.p-detail__card + .p-detail__card {
  margin-top: 30px;
}

@media screen and (min-width: 768px) {
  .p-detail__card + .p-detail__card {
    margin-top: 117px;
  }
}

@media screen and (min-width: 1201px) {
  .p-detail__card + .p-detail__card {
    margin-top: calc(60 * clamp(375px, 100vw, 1920px) / 1920);
  }
}

.p-detail__card + .p-detail__img--bottom {
  margin-top: 30px;
}

@media screen and (min-width: 768px) {
  .p-detail__card + .p-detail__img--bottom {
    margin-top: 61px;
  }
}

@media screen and (min-width: 1201px) {
  .p-detail__card + .p-detail__img--bottom {
    margin-top: calc(60 * clamp(375px, 100vw, 1920px) / 1920);
  }
}

.p-bullets__unit--ol + .p-bullets__unit {
  margin-top: 60px;
}

.p-bullets__unit--ol + .p-bullets__unit--ol {
  margin-top: 20px;
}

.p-bullets__unit + .p-bullets__unit {
  margin-top: 20px;
}

/* 隣接セレクタ マージンレフト ユーティリティ */
.p-footer__menu__list + .c-line, .p-footer__menu__list + .c-line--vertical {
  margin-left: 15px;
}

.c-line + .p-footer__menu__list, .c-line--vertical + .p-footer__menu__list {
  margin-left: 15px;
}

.c-searchbox + .c-btn--search, .c-searchbox--icon + .c-btn--search {
  margin-left: 12px;
}

.c-pagination__current + .c-pagination__mark--prev {
  margin-left: 19.3px;
}

.c-pagination__mark--prev + .c-pagination__number {
  margin-left: 17.2px;
}

.c-pagination__number + .c-pagination__number {
  margin-left: 15px;
}

.c-pagination__number + .c-pagination__mark--next {
  margin-left: 19.3px;
}

@media screen and (min-width: 768px) {
  .p-hero__headline + .p-hero__lead {
    margin-left: 20px;
  }
}

.p-detail__card__img + .p-detail__card__description {
  margin-left: 10px;
}

@media screen and (min-width: 768px) {
  .p-detail__card__img + .p-detail__card__description {
    margin-left: 21px;
  }
}

@media screen and (min-width: 1201px) {
  .p-detail__card__img + .p-detail__card__description {
    margin-left: 40px;
  }
}

.p-detail__card__description + .p-detail__card__img {
  margin-left: 10px;
}

@media screen and (min-width: 768px) {
  .p-detail__card__description + .p-detail__card__img {
    margin-left: 21px;
  }
}

@media screen and (min-width: 1201px) {
  .p-detail__card__description + .p-detail__card__img {
    margin-left: 40px;
  }
}

.c-code + .c-table {
  margin-top: 30px;
}

@media screen and (min-width: 768px) {
  .c-code + .c-table {
    margin-top: 60px;
  }
}

.c-table + .c-btn, .c-table + .c-btn--search, .c-table + .c-btn--detail {
  margin-top: 30px;
}

@media screen and (min-width: 768px) {
  .c-table + .c-btn, .c-table + .c-btn--search, .c-table + .c-btn--detail {
    margin-top: 60px;
  }
}

.c-btn + .c-tag, .c-btn--search + .c-tag, .c-btn--detail + .c-tag {
  margin-top: 30px;
}

@media screen and (min-width: 768px) {
  .c-btn + .c-tag, .c-btn--search + .c-tag, .c-btn--detail + .c-tag {
    margin-top: 60px;
  }
}

/* 箇条書きマージン　ユーティリティ */
.u-ml--bullets {
  margin-left: 18px;
}
/*# sourceMappingURL=style.css.map */