@charset "UTF-8";
/* reset.scss */
/*!
 * ress.css • v4.0.0
 * MIT License
 * github.com/filipelinhares/ress
 */
/* # =================================================================
   # Global selectors
   # ================================================================= */
html {
  box-sizing: border-box;
  -webkit-text-size-adjust: 100%;
  /* Prevent adjustments of font size after orientation changes in iOS */
  word-break: normal;
  tab-size: 4;
}

*,
::before,
::after {
  background-repeat: no-repeat;
  /* Set `background-repeat: no-repeat` to all elements and pseudo elements */
  box-sizing: inherit;
}

::before,
::after {
  text-decoration: inherit;
  /* Inherit text-decoration and vertical align to ::before and ::after pseudo elements */
  vertical-align: inherit;
}

* {
  padding: 0;
  /* Reset `padding` and `margin` of all elements */
  margin: 0;
}

/* # =================================================================
     # General elements
     # ================================================================= */
hr {
  overflow: visible;
  /* Show the overflow in Edge and IE */
  height: 0;
  /* Add the correct box sizing in Firefox */
  color: inherit;
  /* Correct border color in Firefox. */
}

details,
main {
  display: block;
  /* Render the `main` element consistently in IE. */
}

summary {
  display: list-item;
  /* Add the correct display in all browsers */
}

small {
  font-size: 80%;
  /* Set font-size to 80% in `small` elements */
}

[hidden] {
  display: none;
  /* Add the correct display in IE */
}

abbr[title] {
  border-bottom: none;
  /* Remove the bottom border in Chrome 57 */
  /* Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari */
  text-decoration: underline;
  text-decoration: underline dotted;
}

a {
  background-color: transparent;
  /* Remove the gray background on active links in IE 10 */
}

a:active,
a:hover {
  outline-width: 0;
  /* Remove the outline when hovering in all browsers */
}

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  /* Specify the font family of code elements */
}

pre {
  font-size: 1em;
  /* Correct the odd `em` font sizing in all browsers */
}

b,
strong {
  font-weight: bolder;
  /* Add the correct font weight in Chrome, Edge, and Safari */
}

/* https://gist.github.com/unruthless/413930 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

table {
  border-color: inherit;
  /* Correct border color in all Chrome, Edge, and Safari. */
  text-indent: 0;
  /* Remove text indentation in Chrome, Edge, and Safari */
}

/* # =================================================================
     # Forms
     # ================================================================= */
input {
  border-radius: 0;
}

/* Replace pointer cursor in disabled elements */
[disabled] {
  cursor: default;
}

[type='number']::-webkit-inner-spin-button,
[type='number']::-webkit-outer-spin-button {
  height: auto;
  /* Correct the cursor style of increment and decrement buttons in Chrome */
}

[type='search'] {
  -webkit-appearance: textfield;
  /* Correct the odd appearance in Chrome and Safari */
  outline-offset: -2px;
  /* Correct the outline style in Safari */
}

[type='search']::-webkit-search-decoration {
  -webkit-appearance: none;
  /* Remove the inner padding in Chrome and Safari on macOS */
}

textarea {
  overflow: auto;
  /* Internet Explorer 11+ */
  resize: vertical;
  /* Specify textarea resizability */
}

button,
input,
optgroup,
select,
textarea {
  font: inherit;
  /* Specify font inheritance of form elements */
}

optgroup {
  font-weight: bold;
  /* Restore the font weight unset by the previous rule */
}

button {
  overflow: visible;
  /* Address `overflow` set to `hidden` in IE 8/9/10/11 */
}

button,
select {
  text-transform: none;
  /* Firefox 40+, Internet Explorer 11- */
}

/* Apply cursor pointer to button elements */
button,
[type='button'],
[type='reset'],
[type='submit'],
[role='button'] {
  cursor: pointer;
  color: inherit;
}

/* Remove inner padding and border in Firefox 4+ */
button::-moz-focus-inner,
[type='button']::-moz-focus-inner,
[type='reset']::-moz-focus-inner,
[type='submit']::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/* Replace focus style removed in the border reset above */
button:-moz-focusring,
[type='button']::-moz-focus-inner,
[type='reset']::-moz-focus-inner,
[type='submit']::-moz-focus-inner {
  outline: 1px dotted ButtonText;
}

button,
html [type='button'],
[type='reset'],
[type='submit'] {
  -webkit-appearance: button;
  /* Correct the inability to style clickable types in iOS */
}

/* Remove the default button styling in all browsers */
button,
input,
select,
textarea {
  background-color: transparent;
  border-style: none;
}

a:focus,
button:focus,
input:focus,
select:focus,
textarea:focus {
  outline-width: 0;
}

/* Style select like a standard input */
select {
  -moz-appearance: none;
  /* Firefox 36+ */
  -webkit-appearance: none;
  /* Chrome 41+ */
}

select::-ms-expand {
  display: none;
  /* Internet Explorer 11+ */
}

select::-ms-value {
  color: currentColor;
  /* Internet Explorer 11+ */
}

legend {
  border: 0;
  /* Correct `color` not being inherited in IE 8/9/10/11 */
  color: inherit;
  /* Correct the color inheritance from `fieldset` elements in IE */
  display: table;
  /* Correct the text wrapping in Edge and IE */
  max-width: 100%;
  /* Correct the text wrapping in Edge and IE */
  white-space: normal;
  /* Correct the text wrapping in Edge and IE */
  max-width: 100%;
  /* Correct the text wrapping in Edge 18- and IE */
}

::-webkit-file-upload-button {
  /* Correct the inability to style clickable types in iOS and Safari */
  -webkit-appearance: button;
  color: inherit;
  font: inherit;
  /* Change font properties to `inherit` in Chrome and Safari */
}

/* # =================================================================
     # Specify media element style
     # ================================================================= */
img {
  border-style: none;
  /* Remove border when inside `a` element in IE 8/9/10 */
}

/* Add the correct vertical alignment in Chrome, Firefox, and Opera */
progress {
  vertical-align: baseline;
}

/* # =================================================================
     # Accessibility
     # ================================================================= */
/* Specify the progress cursor of updating elements */
[aria-busy='true'] {
  cursor: progress;
}

/* Specify the pointer cursor of trigger elements */
[aria-controls] {
  cursor: pointer;
}

/* Specify the unstyled cursor of disabled, not-editable, or otherwise inoperable elements */
[aria-disabled='true'] {
  cursor: default;
}

/* variable.scss */
/* フォント　書体 */
/* フォント　太さ*/
/* フォント　サイズ */
/* カラー */
/* レスポンシブ設定　ブレークポイント */
/* レスポンシブ設定　スマホ最小幅 */
/* ハンバーガーボタン */
/* アコーディオンアイコン*/
/* レイアウト高さ */
/* mixin.scss */
/* フォントサイズ設定　簡易化 */
/* レスポンシブ設定 */
/* base.scss */
html {
  font-size: 62.5%;
}

body {
  color: #3C2A10;
  font-family: "M PLUS 1p", sans-serif;
  font-weight: 400;
  display: grid;
  grid-template: "l-header l-sidebar" 217px "l-main l-sidebar" 1fr "l-footer l-sidebar" 150px/100vw 87vw;
}

@media screen and (min-width: 768px) {
  body {
    grid-template: "l-header l-sidebar" 217px "l-main l-sidebar" 1fr "l-footer l-sidebar" 150px/100vw 44vw;
  }
}

@media screen and (min-width: 1201px) {
  body {
    grid-template: "l-header l-sidebar" 217px "l-main l-sidebar" 1fr "l-footer l-footer" 150px/4fr 1fr;
  }
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

/* ヘッダー　レイアウト */
.l-header {
  grid-area: l-header;
}

/* メイン　レイアウト */
.l-main {
  grid-area: l-main;
}

/* サイドバー　レイアウト */
.l-sidebar {
  grid-area: l-sidebar;
}

/* フッター　レイアウト */
.l-footer {
  grid-area: l-footer;
}

/* ボタン　コンポーネント */
.c-btn, .c-btn--search {
  border-radius: 10px;
  border: 1px solid #707070;
}

.c-btn--search {
  height: 46px;
  background: linear-gradient(#f2ede9 0%, #ded8d3 100%);
}

/* コピーライト　コンポーネント */
.c-copyright {
  color: #fff;
  font-size: 1.4rem;
}

/* 定義リスト　コンポーネント */
.c-definition {
  background-color: rgba(255, 255, 255, 0.7);
}

.c-definition__headline {
  font-weight: 700;
}

/* ヘッドライン　コンポーネント */
.c-headline, .c-headline--underline {
  font-weight: 700;
}

.c-headline--underline::after {
  content: "";
  background-color: #fff;
  width: 35px;
  height: 4px;
  display: block;
  margin-top: 19px;
}

/* 線　コンポーネント */
.c-line, .c-line--vertical {
  background-color: #fff;
}

.c-line--vertical {
  width: 2px;
  height: 20px;
  margin-right: 15px;
  margin-left: 15px;
}

/* link コンポーネント */
.c-link--block {
  display: block;
  height: 100%;
}

.c-link--inlineblock {
  display: inline-block;
  width: 100%;
  height: 100%;
}

/* 検索フォーム入力エリア コンポーネント*/
.c-searchbox {
  height: 46px;
  border-radius: 10px;
  background: #fff;
  border: 1px solid #707070;
}

/* ヘッダー プロジェクト */
.p-header {
  min-width: 375px;
  background-color: #FFF7EF;
  font-family: "Roboto", sans-serif;
}

.p-header .c-btn--menu {
  color: #707070;
  font-size: 2rem;
}

@media screen and (min-width: 768px) {
  .p-header .c-btn--menu {
    font-size: 3.4rem;
  }
}

.p-header .c-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (min-width: 1201px) {
  .p-header .c-wrapper {
    flex-direction: row;
    justify-content: space-between;
  }
}

.p-header .c-headline, .p-header .c-headline--underline {
  color: #707070;
  font-size: 4rem;
}

@media screen and (min-width: 1201px) {
  .p-header .c-headline, .p-header .c-headline--underline {
    font-size: 6.4rem;
  }
}

/* 検索フォーム　プロジェクト */
.p-search {
  display: flex;
  justify-content: center;
}

.p-search .c-searchbox {
  width: 230px;
}

@media screen and (min-width: 768px) {
  .p-search .c-searchbox {
    width: 396px;
  }
}

.p-search .c-btn--search {
  width: 78px;
}

@media screen and (min-width: 768px) {
  .p-search .c-btn--search {
    width: 136px;
  }
}

/* ハンバーガーボタン　プロジェクト */
.p-hamburger-btn {
  width: 50px;
  height: 50px;
  background-color: #fff;
  position: relative;
}

@media screen and (min-width: 1201px) {
  .p-hamburger-btn {
    display: none;
  }
}

.p-hamburger-btn::before, .p-hamburger-btn::after {
  content: "";
  width: 23px;
  height: 2px;
  background-color: #000;
  position: absolute;
  left: calc( 50% - (23px / 2));
  display: block;
  transition: transform 0.1s;
}

.p-hamburger-btn::before {
  top: 15px;
}

.p-hamburger-btn::after {
  top: 33px;
}

.p-hamburger-btn > span {
  width: 23px;
  height: 2px;
  font-size: 0;
  background-color: #000;
  /*                                                */
  background-size: auto 2px;
  /*                                                */
  position: absolute;
  left: calc( 50% - (23px / 2));
  top: calc( 50% - (2px / 2));
  transition: transform 0.1s;
}

.p-hamburger-btn.is-open {
  background-color: #000;
}

.p-hamburger-btn.is-open::before {
  background-color: #fff;
  transform: rotate(-45deg);
  top: 24px;
}

.p-hamburger-btn.is-open::after {
  background-color: #fff;
  transform: rotate(-135deg);
  top: 24px;
}

.p-hamburger-btn.is-open > span {
  background: none;
}

/* アコーディオンアイコン　プロジェクト */
@media screen and (min-width: 1201px) {
  .p-accordion-icon {
    display: none;
  }
}

.p-accordion-icon::before, .p-accordion-icon::after {
  content: '';
  background-color: #000;
  position: absolute;
  display: block;
  transition: transform 0.1s;
}

.p-accordion-icon::before {
  width: 2px;
  height: 24px;
  top: 50%;
  right: calc(10px + (2px / 2) + (24px / 2));
  transform: translate(-50%, -50%);
}

.p-accordion-icon::after {
  width: 24px;
  height: 2px;
  top: 50%;
  right: calc( 2px / 2);
  transform: translate(-50%, -50%);
}

.p-accordion-icon.is-sub-open::before {
  display: none;
}

/* メイン　プロジェクト */
.p-main {
  min-width: 375px;
  background-color: #FFFDFA;
}

/* ヒーロー　プロジェクト */
.p-hero, .p-hero--front, .p-hero--archive, .p-hero--single, .p-hero--page {
  background-size: cover;
  display: flex;
  /* ページ毎の設定 */
}

.p-hero .c-headline, .p-hero--front .c-headline, .p-hero--archive .c-headline, .p-hero--single .c-headline, .p-hero--page .c-headline, .p-hero .c-headline--underline, .p-hero--front .c-headline--underline, .p-hero--archive .c-headline--underline, .p-hero--single .c-headline--underline, .p-hero--page .c-headline--underline {
  color: #fff;
  font-size: 3.6rem;
}

@media screen and (min-width: 1201px) {
  .p-hero .c-headline, .p-hero--front .c-headline, .p-hero--archive .c-headline, .p-hero--single .c-headline, .p-hero--page .c-headline, .p-hero .c-headline--underline, .p-hero--front .c-headline--underline, .p-hero--archive .c-headline--underline, .p-hero--single .c-headline--underline, .p-hero--page .c-headline--underline {
    font-size: 4rem;
  }
}

.p-hero--front {
  background-image: url(/images/main__title--front.jpg);
  background-position: center;
  height: 76vw;
  align-items: center;
  padding-left: 25px;
}

@media screen and (min-width: 1201px) {
  .p-hero--front {
    height: 27vw;
  }
}

.p-hero--archive {
  background-image: url(/images/main__title--archive.jpg);
  height: 75vw;
  flex-direction: column;
  justify-content: center;
  padding-left: 37px;
}

@media screen and (min-width: 1201px) {
  .p-hero--archive {
    height: 12.5vw;
  }
}

.p-hero--single {
  background-image: url(/images/main__title--single.jpg);
  background-position: center;
  height: 60vw;
  align-items: center;
  padding-left: 26px;
}

@media screen and (min-width: 768px) {
  .p-hero--single {
    height: 26vw;
  }
}

.p-hero--page {
  background-image: url(/images/main__title--page.jpg);
  background-position: center;
  height: 60vw;
  justify-content: center;
  align-items: center;
}

@media screen and (min-width: 768px) {
  .p-hero--page {
    height: 26vw;
  }
}

/* 提供サービス　プロジェクト */
.p-service {
  display: grid;
  grid-template: "takeout" 1fr "eatin" 1fr / 1fr;
  row-gap: 20px;
  padding: 20px 20px 49px;
}

@media screen and (min-width: 768px) {
  .p-service {
    grid-template: "takeout eatin" 1fr / 1fr 1fr;
    column-gap: 41px;
    padding: 40px;
  }
}

@media screen and (min-width: 1201px) {
  .p-service {
    column-gap: 80px;
    padding: 120px 112px 131px 111px;
  }
}

.p-service__list, .p-service__list--takeout, .p-service__list--eatin {
  padding: 11px 10px 10px 11px;
  height: 642px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.p-service__list--takeout {
  background-image: url(/images/service__list--takeout.jpg);
  background-size: cover;
  grid-area: takeout;
}

.p-service__list--eatin {
  background-image: url(/images/service__list--eatin.jpg);
  background-size: cover;
  grid-area: eatin;
}

.p-service__list .c-headline--underline, .p-service__list--takeout .c-headline--underline, .p-service__list--eatin .c-headline--underline {
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-size: 4.1rem;
}

@media screen and (min-width: 768px) {
  .p-service__list .c-headline--underline, .p-service__list--takeout .c-headline--underline, .p-service__list--eatin .c-headline--underline {
    font-size: 4.4rem;
  }
}

@media screen and (min-width: 1201px) {
  .p-service__list .c-headline--underline, .p-service__list--takeout .c-headline--underline, .p-service__list--eatin .c-headline--underline {
    font-size: 4.1rem;
  }
}

.p-service__list .c-wrapper .c-definition, .p-service__list--takeout .c-wrapper .c-definition, .p-service__list--eatin .c-wrapper .c-definition {
  height: 163px;
  padding: 19px 14px 23px 10px;
}

.p-service__list .c-wrapper .c-definition .c-definition__headline, .p-service__list--takeout .c-wrapper .c-definition .c-definition__headline, .p-service__list--eatin .c-wrapper .c-definition .c-definition__headline {
  font-size: 2.2rem;
}

@media screen and (min-width: 768px) {
  .p-service__list .c-wrapper .c-definition .c-definition__headline, .p-service__list--takeout .c-wrapper .c-definition .c-definition__headline, .p-service__list--eatin .c-wrapper .c-definition .c-definition__headline {
    font-size: 2.4rem;
  }
}

.p-service__list .c-wrapper .c-definition .c-definition__description, .p-service__list--takeout .c-wrapper .c-definition .c-definition__description, .p-service__list--eatin .c-wrapper .c-definition .c-definition__description {
  font-size: 1.6rem;
}

/* 住所　プロジェクト */
.p-address {
  background-color: #000;
}

.p-address .c-definition .c-headline--underline {
  color: #fff;
  font-size: 3rem;
}

@media screen and (min-width: 1201px) {
  .p-address .c-definition .c-headline--underline {
    font-size: 3.6rem;
  }
}

.p-address .c-definition .c-definition__description {
  color: #fff;
  font-size: 1.4rem;
}

@media screen and (min-width: 1201px) {
  .p-address .c-definition .c-definition__description {
    font-size: 1.6rem;
  }
}

/* サイドバー　プロジェクト */
.p-sidebar {
  min-width: 375px;
  background-color: #F2EDE9;
}

/* グローバルメニュー プロジェクト */
.p-gmenu__list .c-link {
  color: #707070;
  font-weight: 700;
  font-size: 2.4rem;
}

/* ローカルメニュー プロジェクト */
.p-lmenu__list .c-link {
  color: #707070;
  font-size: 2rem;
}

/* フッター プロジェクト */
.p-footer {
  min-width: 375px;
  background-image: url(/images/footer.png);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.p-footer__menu {
  display: flex;
  align-items: center;
  justify-content: center;
}

.p-footer__menu__list .c-link {
  color: #fff;
  font-size: 2rem;
}

/* 隣接セレクタ マージントップ ユーティリティ */
.c-definition__headline + .c-definition__description {
  margin-top: 19px;
}

.c-definition + .c-definition {
  margin-top: 9px;
}

.c-headline--underline + .c-definition__description {
  margin-top: 20px;
}

.p-footer__menu + .c-copyright {
  margin-top: 34px;
}

.c-headline + .p-search, .c-headline--underline + .p-search {
  margin-top: 38px;
}

/* 隣接セレクタ マージンレフト ユーティリティ */
.c-searchbox + .c-btn--search {
  margin-left: 12px;
}
/*# sourceMappingURL=style.css.map */