/* ボタン　コンポーネント */
.c-btn {
  display: block;
  font-weight: $font-weight-l;
  &--search {
    @extend .c-btn;
    border-radius: 10px;
    border: 1px solid $font-color-sub;
    height: 46px;
    background: linear-gradient(#f2ede9 0%, #ded8d3 100%);
  }
  &--detail {
    @extend .c-btn;
    border-radius: 50px;
    background: $color-white;
  }
}