/* ボタン　コンポーネント */
.c-btn {
  display: block;
  font-weight: $font-weight-l;
  background: $background-color-btn;
  border: 1px solid $font-color-sub;
  &--search {
    @extend .c-btn;
    border-radius: 10px;
    padding-top: 12px;
    padding-bottom: 12px;
  }
  &--detail {
    @extend .c-btn;
    border-radius: 50px;
    background: $color-white;
  }
}