/* ヒーロー コンポーネント */
.c-hero {
  &__title {
    color: $color-f;
    font-weight: $font-weight-l;
    font-size: 2.25rem;
  }






  /* ページ毎の設定 */
  &--front {
    @extend .c-hero;
    background-image: url(/images/hero-front.jpg);
  }
  &--archive {
    @extend .c-hero;
    background-image: url(/images/hero-archive.jpg);
  }
  &--single {
    @extend .c-hero;
    background-image: url(/images/hero-single.jpg);
  }
  &--page {
    @extend .c-hero;
    background-image: url(/images/hero-page.jpg);
  }
}