/* ヒーロー コンポーネント */
.c-hero {
  background-size: cover;
  min-width: 375px;
  display: flex;
  &__title {
    color: $color-white;
    font-weight: $font-weight-l;
    @include fz (36);
    @include mq (pc) {
      @include fz (40);
    }
  }

  /* ページ毎の設定 */
  &--front {
    @extend .c-hero;
    background-image: url(/images/hero-front.jpg);
    background-position: center;
    height: 285px;
    align-items: center;
    padding-left: 25px;
    @include mq (pc) {
      height: 530px;
    }
  }
  &--archive {
    @extend .c-hero;
    background-image: url(/images/hero-archive.jpg);
    
    height: 283px;
    flex-direction: column;
    justify-content: center;
    padding-left: 37px;
    @include mq (pc) {
      height: 239px;
    }
  }
  &--single {
    @extend .c-hero;
    background-image: url(/images/hero-single.jpg);
    background-position: center;
    height: 226px;
    align-items: center;
    padding-left: 26px;
    @include mq () {
      height: 500px;
    }
  }
  &--page {
    @extend .c-hero;
    background-image: url(/images/hero-page.jpg);
    background-position: center;
    height: 224px;
    justify-content: center;
    align-items: center;
    @include mq () {
      height: 500px;
    }
  }
}