/* 提供サービス　コンポーネント */
.c-service {
  background-color: $color-white;
  height: 163px;
  padding: 19px 14px 23px 10px;
  &__title {
    > a {
      font-weight: $font-weight-l;
      font-size: 2.2rem;
      @include mq () {
        font-size: 2.4rem;
      }
    }
  }
  &__txt {
    font-size: 1.6rem;
  }
}