/* 提供サービス　コンポーネント */
.c-service {
  color: $font-color-main;
  background-color: $color-white;
  height: 163px;
  padding: 19px 14px 23px 10px;
  &__title {
    > a {
      color: $font-color-main;
      font-weight: $font-weight-l;
      @include fz (22);
      @include mq () {
        @include fz (24);
      }
    }
  }
  &__txt {
    @include fz (16);
  }
}