/* ヘッドライン　コンポーネント */
.c-headline {
  font-weight: $font-weight-l;
  &--underline {
    @extend .c-headline;
    &::after {
      content: "";
      background-color: $line-color;
      display: block;
    }
  }
}