/* 線　コンポーネント */
.c-line {
  background-color: $line-color;
  &--vertical {
    @extend .c-line;
    width: $width-c-line--vertical;
    height: $height-c-line--vertical;
    margin-right: $margin-right-c-line--vertical;
    margin-left: $margin-left-c-line--vertical;
  }
}