/* ページネーション　コンポーネント */
.c-pagination {
  color: $font-color-sub;
  @include fz (16);
  display: flex;
  justify-content: space-between;
  align-items: center;
  @include mq () {
    justify-content: center;
  }
  &__current {
    display: none;
    @include mq () {
      font-family: $font-family-sub;
      font-weight: $font-weight-l;
      display: block;
    }
  }
  &__prev {
    .c-link {
      color: $font-color-sub;
      &:hover {
        color: $font-color-hover;
      }
    }
    &::after {
      content: "前へ";
      margin-left: 8.2px;
      @include mq () {
        display: none;
      }
    }
  }
  &__next {
    .c-link {
      color: $font-color-sub;
      &:hover {
        color: $font-color-hover;
      }
    }
    &::before {
      content: "次へ";
      margin-right: 7.3px;
      @include mq () {
        display: none;
      }
    }
  }
  &__number {
    display: none;
    .c-link {
      color: $font-color-sub;
      font-family: $font-family-sub;
      font-weight: $font-weight-l;
      display: flex;
      width: 100%;
      height: 100%;
      justify-content: center;
      align-items: center;
      &:hover {
        color: $color-white;
        background-color: $background-color-card;
      }
    }
    @include mq () {
      display: block;
      width: 35px;
      height: 35px;
      border: 1px solid $font-color-sub;
    }
  }
}