/* 隣接セレクタ マージンレフト ユーティリティ */
.p-footer__menu__list + .c-line {
  margin-left: 15px;
}

.c-line + .p-footer__menu__list {
  margin-left: 15px;
}

.c-searchbox + .c-btn--search {
  margin-left: 12px;
}

.pages + .previouspostslink {
  @include mq (tab) {
    margin-left: 19.3px;
  }
}

.pages + .current {
  @include mq (tab) {
    margin-left: 19.3px;
  }
}

.previouspostslink + .page {
  margin-left: 17.2px;
}

.page + .page {
  margin-left: 15px;
}

.page + .current {
  margin-left: 15px;
}

.current + .page {
  margin-left: 15px;
}

.page + .nextpostslink {
  margin-left: 19.3px;
}

.p-hero__headline + .p-hero__lead {
  @include mq () {
    margin-left: 20px;
  }
}

.p-detail__card__img + .p-detail__card__description {
  margin-left: 10px;
  @include mq () {
    margin-left: 21px;
  }
  @include mq (pc) {
    margin-left: 40px;
  }
}

.p-detail__card__description + .p-detail__card__img {
  margin-left: 10px;
  @include mq () {
    margin-left: 21px;
  }
  @include mq (pc) {
    margin-left: 40px;
  }
}

.c-code + .c-table {
  margin-top: 30px;
  @include mq () {
    margin-top: 60px;
  }
}

.c-table + .c-btn {
  margin-top: 30px;
  @include mq () {
    margin-top: 60px;
  }
}

.c-btn + .c-tag {
  margin-top: 30px;
  @include mq () {
    margin-top: 60px;
  }
}