/* 隣接セレクタ マージンレフト ユーティリティ */
.p-footer__menu__list + .c-line {
  margin-left: 15px;
}

.c-line + .p-footer__menu__list {
  margin-left: 15px;
}

.c-searchbox + .c-btn--search {
  margin-left: 12px;
}

.c-pagination__current + .c-pagination__mark--prev {
  margin-left: 19.3px;
}

.c-pagination__mark--prev + .c-pagination__number {
  margin-left: 17.2px;
}

.c-pagination__number + .c-pagination__number {
  margin-left: 15px;
}

.c-pagination__number + .c-pagination__mark--next {
  margin-left: 19.3px;
}

.p-hero__headline + .p-hero__lead {
  @include mq () {
    margin-left: 20px;
  }
}

.p-detail__card__img + .p-detail__card__description {
  margin-left: 10px;
  @include mq () {
    margin-left: 21px;
  }
  @include mq (pc) {
    margin-left: 40px;
  }
}

.p-detail__card__description + .p-detail__card__img {
  margin-left: 10px;
  @include mq () {
    margin-left: 21px;
  }
  @include mq (pc) {
    margin-left: 40px;
  }
}