/* 隣接セレクタ マージントップ ユーティリティ */
.p-footer__menu + .c-copyright {
  margin-top: 34px;
}

.c-headline + .p-search {
  margin-top: 38px;
  @include mq (pc) {
    margin-top: 0;
  }
}

.p-lmenu__list + .p-lmenu__list {
  margin-top: 23px;
}

.c-headline + .p-sidebar__nav {
  @include mq (pc) {
    margin-top: calc(85 * #{$liquid-pc});
  }
}

.c-definition__headline + .c-definition__description {
  margin-top: 20px;
  @include mq (pc) {
    margin-top: 26px;
  }
}

.c-definition + .c-definition {
  margin-top: 10px;
  @include mq (pc) {
    margin-top: 20px;
  }
}

.c-headline--underline + .c-wrapper {
  margin-top: 211.7px;
  @include mq () {
    margin-top: calc(224.4 * #{$liquid-tab});
  }
  @include mq (pc) {
    margin-top: calc(644.5 * #{$liquid-pc});
  }
}

.p-card__body__headline + .p-card__body__subheadline {
  margin-top: 24px;
  @include mq (pc) {
    margin-top: calc(47 * #{$liquid-pc});
  }
}

.p-card__body__subheadline + .p-card__body__description {
  margin-top: 10px;
  @include mq (pc) {
    margin-top: calc(17 * #{$liquid-pc});
  }
}

.p-archive__list + .p-archive__list {
  margin-top: 20.9px;
  @include mq () {
    margin-top: 20.5px;
  }
  @include mq (pc) {
    margin-top: calc(30 * #{$liquid-pc});
  }
}

.p-archive + .c-pagination {
  margin-top: 69.9px;
  @include mq () {
    margin-top: 105.5px;
  }
  @include mq (pc) {
    margin-top: calc(150 * #{$liquid-pc});
  }
}

.p-main__body__headline + .p-main__body__description {
  margin-top: 30px;
  @include mq () {
    margin-top: 25px;
  }
  @include mq (pc) {
    margin-top: calc(25 * #{$liquid-pc});
  }
}

.p-main__body__description + .p-archive {
  margin-top: 19px;
  @include mq () {
    margin-top: 37px;
  }
  @include mq (pc) {
    margin-top: calc(70 * #{$liquid-pc});
  }
}

.p-main__body__description + .p-product {
  margin-top: 60px;
}

.p-product__headline + .p-product__headline--secondary {
  margin-top: 60px;
}

.p-product__headline--secondary + .p-product__headline--tertiary {
  margin-top: 60px;
}

.p-product__headline--tertiary + .p-product__headline--quaternary {
  margin-top: 60px;
}

.p-product__headline--quaternary + .c-blockquote {
  margin-top: 60px;
}

.c-blockquote__description + .c-blockquote__source {
  margin-top: 30px;
  @include mq () {
    margin-top: 60px;
  }
  @include mq (pc) {
    margin-top: calc(60 * #{$liquid-pc});
  }
}

.c-blockquote + .p-detail {
  margin-top: 30px;
  @include mq () {
    margin-top: 60px;
  }
  @include mq (pc) {
    margin-top: calc(60 * #{$liquid-pc});
  }
}

.p-product + .p-gallery {
  margin-top: 20px;
  @include mq () {
    margin-top: 241px;
  }
  @include mq (pc) {
    margin-top: calc(60 * #{$liquid-pc});
  }
}

.p-detail__img--top + .p-detail__card {
  margin-top: 30px;
  @include mq () {
    margin-top: 60px;
  }
  @include mq (pc) {
    margin-top: calc(60 * #{$liquid-pc});
  }
}

.p-detail__card + .p-detail__card {
  margin-top: 30px;
  @include mq () {
    margin-top: 117px;
  }
  @include mq (pc) {
    margin-top: calc(60 * #{$liquid-pc});
  }
}

.p-detail__card + .p-detail__img--bottom {
  margin-top: 30px;
  @include mq () {
    margin-top: 61px;
  }
  @include mq (pc) {
    margin-top: calc(60 * #{$liquid-pc});
  }
}