/* 隣接セレクタ マージントップ ユーティリティ */
.c-definition__headline + .c-definition__description {
  margin-top: 19px;
}

.c-definition + .c-definition {
  margin-top: 9px;
}

.c-headline--underline + .c-definition__description {
  margin-top: 20px;
}

.p-footer__menu + .c-copyright {
  margin-top: 34px;
}