/* フッター プロジェクト */
.p-footer {
  background-image: url(../images/footer.png);
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 40px 0 30px;
  &__menu {
    display: flex;
    align-items: center;
    justify-content: center;
    .menu-item {
      display: flex;
      align-items: center;
      &:not(:last-child) {
        &::after {
         content: "";
          display: block;
          background-color: $line-color;
          width: $width-c-line--vertical;
          height: $height-c-line--vertical;
          margin: 0 15px;
        }
      }
      a {
        color: $color-white;
        font-weight: normal;
        @include fz (20);
        &:hover {
          color: $font-color-hover;
        }
      }
    }
  }
}