/* グローバルメニュー プロジェクト */
.p-gmenu {
  &__list {
    padding-left: 46px;
    padding-bottom: 43px;
    > .c-link {
      color: $font-color-sub;
      font-weight: $font-weight-l;
      @include fz (24);
    }
  }
}