/* グローバルメニュー プロジェクト */
.menu {
  > .menu-item {
    > a {
      color: $font-color-sub;
      font-weight: $font-weight-l;
      @include fz (24);
      &:hover {
        color: $font-color-hover;
      }
      @include mq (pc) {
        font-size: calc(24 * #{$liquid-pc});
      }
    }
  }
}