/* ヘッダー プロジェクト */
.p-header {
  background-color: $background-color-header;
  font-family: $font-family-sub;
  @include mq (pc) {
    padding-top: calc(67 * #{$liquid-pc});
    padding-right: calc(31 * #{$liquid-pc});
    padding-bottom: calc(66 * #{$liquid-pc});
    padding-left: calc(65 * #{$liquid-pc});
  }
  > .c-headline {
    color: $font-color-sub;
    display: block;
    margin: 0 0 0 auto;
    position: relative;
    top: 14px;
    right: 16px;
    @include fz (20);
    &:hover {
      color: $font-color-hover;
    }
    @include mq () {
      @include fz (34);
      top: 18px;
      right: 26px;
    }
    @include mq (pc) {
      display: none;
    }
  }
  .c-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 0 40px;
    @include mq (pc) {
      flex-direction: row;
      justify-content: space-between;
    }
    .c-headline {
      .c-link {
        color: $font-color-sub;
        @include fz (40);
        &:hover {
          color: $font-color-hover;
        }
        @include mq (pc) {
          font-size: calc(64 * #{$liquid-pc});
        }
      }
    }
  }
}