/* ヘッダー プロジェクト */
.p-header {
  min-width: $min-width-sp;
  background-color: $background-color-header;
  font-family: $font-family-sub;
  @include mq (pc) {
    display: flex;
    flex-direction: column;
    align-items: space-between;
    justify-content: center;
    padding-right: 1vw;
  }
  .c-btn--menu {
    color: $font-color-sub;
    display: block;
    margin: 0 0 0 auto;
    position: relative;
    top: 14px;
    right: 16px;
    @include fz (20);
    @include mq () {
      @include fz (34);
      top: 18px;
      right: 26px;
    }
    @include mq (pc) {
      display: none;
    }
  }
  .c-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    @include mq (pc) {
      flex-direction: row;
      justify-content: space-between;
      margin-left: 3%;
    }
  }
  .c-headline {
    color: $font-color-sub;
    @include fz (40);
    @include mq (pc) {
      @include fz (64);
    }
  }
}