/* ヒーロー　プロジェクト */
.p-hero {
  display: flex;
  align-items: center;
  padding-left: 25px;
  .c-headline {
    color: $color-white;
    @include fz (36);
    @include mq (pc) {
      font-size: calc(40 * #{$width-clamped-viewport} / #{$width-ideal-pc});
    }
  }

  /* ページ毎の設定 */
  &--front {
    @extend .p-hero;
    background-image: url(/images/main__title--front-sp.png);
    background-size: cover;
    background-position: center;
    height: 285px;
    @include mq () {
      background-image: url(/images/main__title--front-tab.png);
    }
    @include mq (pc) {
      height: 28vw;
    }
  }
}