/* ヒーロー　プロジェクト */
.p-hero {
  font-weight: $font-weight-l;
  color: $color-white;
  padding-left: 25px;
  @include mq () {
    padding-left: 86px;
  }

  /* ページ毎の設定 */
  &--home {
    @extend .p-hero;
    background-image: url(/images/hero--home.jpg);
    background-size: cover;
    background-position: center;
    padding-top: 119px;
    padding-bottom: 115px;
    @include mq (pc) {
      padding-top: calc(231 * #{$liquid-pc});
      padding-bottom: calc(243 * #{$liquid-pc});
    }
    .p-hero__headline {
      @include fz (36);
      @include mq (pc) {
        font-size: calc(40 * #{$liquid-pc});
      }
    }
  }
  /* ページ毎の設定 */
  &--archive {
    @extend .p-hero;
    background-image: url(/images/hero--archive.png);
    background-color: $color-black;
    background-size: cover;
    background-position: 30% 0 ;
    padding-top: 102px;
    padding-bottom: 104px;
    @include mq () {
      display: flex;
      align-items: center;
      background-position: center;
    }
    @include mq (pc) {
      padding-top: calc(80 * #{$liquid-pc});
      padding-bottom: calc(80 * #{$liquid-pc});
    }
    .p-hero__headline {
      font-family: $font-family-sub;
      @include fz (36);
      @include mq () {
        @include fz (60);
      }
    }
    .p-hero__lead {
      @include fz (16);
    }
  }


  &--single {
    @extend .p-hero;
    background-image: url(/images/hero--single.jpg);
    background-size: cover;
    background-position: center;
    padding-top: 91px;
    padding-bottom: 91px;
    @include mq () {
      padding-top: 209px;
      padding-bottom: 208px;
    }
    .p-hero__headline {
      @include fz (36);
      @include mq () {
        @include fz (60);
      }
    }
  }

  
  &--page {
    @extend .p-hero--single;
    background-image: url(/images/hero--page.jpg);
    padding-left: 45px;
    @include mq () {
      padding-left: 86px;
    }
  }
}