/* ヒーロー　プロジェクト */
.p-hero {
  display: flex;
  align-items: center;
  padding-left: 25px;
  .c-headline {
    color: $color-white;
    @include fz (36);
    @include mq (pc) {
      font-size: calc(40 * #{$liquid-pc});
    }
  }

  /* ページ毎の設定 */
  &--home {
    @extend .p-hero;
    background-image: url(/images/hero--home.jpg);
    background-size: cover;
    background-position: center;
    padding-top: 119px;
    padding-bottom: 115px;
    @include mq (pc) {
      padding-top: calc(231 * #{$liquid-pc});
      padding-bottom: calc(243 * #{$liquid-pc});
    }
  }
  /* ページ毎の設定 */
  &--archive {
    @extend .p-hero;
    background-image: url(/images/hero--archive.jpg);
    background-size: cover;
    background-position: center;
    padding-top: 119px;
    padding-bottom: 115px;
    @include mq (pc) {
      padding-top: calc(231 * #{$liquid-pc});
      padding-bottom: calc(243 * #{$liquid-pc});
    }
  }
}