/* 住所　プロジェクト */
.p-info {
  background: $color-black;
  position: relative;
  z-index: 500;
  padding-top: 184%;
  @include mq () {
    padding-top: 50%;
  }
  @include mq () {
    padding-top: 42%;
  }
  .c-map {
    position: absolute;
    top: 0;
    z-index: 600;
    opacity: 0.6;
  }
  .c-definition {
    position: absolute;
    z-index: 700;
    top: 0;
    width: 100%;
    height: 100%;
    padding-top: 40px;
    padding-left: 42px;
    @include mq (pc) {
      padding-top: 9%;
      padding-left: 8%;
    }
    &__description {
      color: $color-white;
      @include fz (14);
      @include mq (pc) {
        @include fz (16);
      }
    }
  }
  .c-headline--underline {
    color: $color-white;
    @include fz (30);
    &::after {
      width: 75px;
      height: 2px;
      margin-top: 20px;
      margin-bottom: 20px;
    }
    @include mq (pc) {
      @include fz (36);
      &::after {
        width: 75px;
        height: 2px;
      }
    }
  }
  &__layer {
    background-color: $color-black;
    opacity: 0.29;
    width: 100%;
    padding-top: 110%;
    position: absolute;
    top: 0;
    z-index: 800;
    @include mq () {
      padding-top: 0;
      height: 100%;
    }
    @include mq (pc) {
      width: 61%;
    }
  }
}