/* 住所　プロジェクト */
.p-info {
  background: $color-black;
  position: relative;
  .c-map {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.6;
  }
  .c-definition {
    background-color: $color-black;
    opacity: 0.29;
    padding: 40px 40px 51px 42px;
    @include mq () {
      padding: 40px 29px 39px 42px;
    }
    @include mq (pc) {
      width: 61%;
      padding-top: calc(83 * #{$liquid-pc});
      padding-left: calc(134 * #{$liquid-pc});
      padding-bottom: calc(40 * #{$liquid-pc});
      padding-right: calc(119 * #{$liquid-pc});
    }
    &__description {
      color: $color-white;
      @include fz (14);
      @include mq (pc) {
        font-size: calc(16 * #{$liquid-pc});
      }
    }
  }
  .c-headline--underline {
    color: $color-white;
    @include fz (30);
    &::after {
      width: 75px;
      height: 2px;
      margin-top: 20px;
      margin-bottom: 20px;
    }
    @include mq (pc) {
      font-size: calc(36 * #{$liquid-pc});
      &::after {
        width: calc(75 * #{$liquid-pc});
        margin-top: calc(55.5 * #{$liquid-pc});
        margin-bottom: calc(63.5 * #{$liquid-pc});
      }
    }
  }
}