/* ローカルメニュー プロジェクト */
.p-lmenu {
  padding: 36px 0 38px 20px;
  &__list {
    .c-link {
      color: $font-color-sub;
      @include fz (20);
      &:hover {
        color: silver;
      }
    }
  }
}