/* ローカルメニュー プロジェクト */
.sub-menu {
  padding: 36px 0 38px 20px;
  > .menu-item {
    > a {
      color: $font-color-sub;
      @include fz (20);
      &:hover {
        color: $font-color-hover;
      }
      @include mq (pc) {
        font-size: calc(20 * #{$liquid-pc});
      }
    }
  }
}