/* メイン　プロジェクト */
.p-main {
  &__body {
    background-color: $background-color-main;
    &__headline {
      @include fz (28);
      @include mq () {
        @include fz (36);
      }
    }
    &__description {
      @include fz (16);
    }
    &--archive {
      @extend .p-main__body;
      padding-top: 30px;
      padding-right: 18px;
      padding-bottom: 30px;
      padding-left: 22px;
      @include mq () {
        padding-top: 36px;
        padding-right: 35px;
        padding-bottom: 30px;
        padding-left: 42px;
      }
      @include mq (pc) {
        padding-top: calc(60 * #{$liquid-pc});
        padding-right: calc(100 * #{$liquid-pc});
        padding-bottom: calc(64 * #{$liquid-pc});
        padding-left: calc(100 * #{$liquid-pc});
      }
    }
  }
}