/* メニューボタン　プロジェクト */
body.is-open {
  position: fixed;
}

.c-overlay.is-open {
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
  z-index: 2000;
  @include mq (pc) {
    display: none;
  }
}

.p-sidebar.is-open {
  position: absolute;
  z-index: 2100;
  height: 100vh;
  overflow-y: scroll;
  display: flex;
  left: 100vw - $width-sidear-sp;
  @include mq () {
    left: 100vw - $width-sidear-tab;
  }
}