/* 記事 プロジェクト */
.p-article {
  padding: 20px 20px 49px;
  &__list {
    background-size: cover;
    height: 642px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 11px 10px 10px 11px;
    &__title {
      > a {
        color: $color-white;
        font-family: $font-family-sub;
        font-weight: $font-weight-l;
        @include fz (41);
        @include mq () {
          @include fz (44);
        }
        @include mq (pc) {
          @include fz (41);
        }
      }
      &::after {
        content: "";
        background-color: $color-white;
        width: 35px;
        height: 4px;
        display: block;
        margin-top: 19px;
      }
    }

    &--takeout {
      @extend .p-article__list;
      background-image: url(/images/article-list-takeout.jpg);
    }
    &--eatin {
      @extend .p-article__list;
      background-image: url(/images/article-list-eatin.jpg);
    }
  }
}