/* 記事 プロジェクト */
.p-article {
  padding: 20px 20px 49px;
  &__list {
    background-size: cover;
    min-width: 335px;
    height: 642px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 11px 10px 10px 11px;
    &__title {
      > a {
        color: $color-f;
        font-family: $font-family-sub;
        font-weight: $font-weight-l;
        font-size: 2.5625rem;
        @include mq () {
          font-size: 2.75rem;
        }
        @include mq (pc) {
          font-size: 5rem;
        }
      }
    }

    &--takeout {
      @extend .p-article__list;
      background-image: url(/images/article-list-takeout.jpg);
    }
    &--eatin {
      @extend .p-article__list;
      background-image: url(/images/article-list-eatin.jpg);
    }
  }
}