/* フッター プロジェクト */
.p-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 30px;
  &__menu {
    display: flex;
    align-items: center;
    justify-content: center;
    &__list {
      &__link {
        color: $color-white;
        @include fz (20);
      }
    }
    &__line {
      background-color: $color-white;
      width: 2px;
      height: 20px;
      margin-right: 15px;
      margin-left: 15px;
    }
  }
  &__copyright {
    color: $color-white;
    @include fz (14);
  }
}