/* ヘッダー プロジェクト */
.p-header {
  font-family: $font-family-sub;
  font-weight: $font-weight-l;
  &__btn {
    color: $font-color-sub;
    @include fz (20);
    @include mq () {
      @include fz (34);
    }
  }
  &__title {
    &__link {
      color: $font-color-sub;
      @include fz (40);
      @include mq (pc) {
        @include fz (64);
      }
    }
  }
}