/* ハンバーガーボタン　プロジェクト */
.p-hamburger-btn {
  width: 50px;
  height: 50px;
  background-color: $color-f;
  position: relative;
  @include mq (pc) {
    display: none;
  }
  &::before,
  &::after {
    content: "";
    width: $hamburger-btn-width;
    height: $hamburger-btn-height;
    background-color: $color-0;
    position: absolute;
    left: calc( 50% - (#{$hamburger-btn-width} / 2));
    display: block;
    transition: transform 0.1s;
  }
  &::before {
    top: 15px;
  }
  &::after {
    top: 33px;
  }
  > span {
    width: $hamburger-btn-width;
    height: $hamburger-btn-height;
    font-size: 0;
    background-color: $color-0;
    /*                                                */
    background-size: auto $hamburger-btn-height;
    /*                                                */
    position: absolute;
    left: calc( 50% - (#{$hamburger-btn-width} / 2));
    top: calc( 50% - (#{$hamburger-btn-height} / 2));
    transition: transform 0.1s;
  }
  &.is-open {
    background-color: $color-0;
    &::before {
      background-color: $color-f;
      transform: rotate(-45deg);
      top: 24px;
    }
    &::after {
      background-color: $color-f;
      transform: rotate(-135deg);
      top: 24px;
    }
    > span {
      background: none;
    }
  }
}