/* インフォメーション プロジェクト */
.p-info {
  &__address {
    &__title {
      color: $color-white;
      font-weight: $font-weight-l;
      font-size: 3rem;
      @include mq (pc) {
        font-size: 3.6rem;
      }
    }
    &__txt {
      color: $color-white;
      font-size: 1.4rem;
      @include mq (pc) {
        font-size: 1.6rem;
      }
    }
  }
}