/* 提供サービス　プロジェクト */
.p-service {
  display: grid;
  grid-template: 
    "takeout" 1fr
    "eatin" 1fr /
      1fr;
  row-gap: 20px;
  padding: 20px 20px 49px;
  @include mq (){
    grid-template: 
    "takeout eatin" 1fr /
      1fr 1fr;
    column-gap: 41px;
    padding: 40px;
  }
  @include mq (pc){
    column-gap: 80px;
    padding: 120px 112px 131px 111px;
  }
  &__list {
    padding: 11px 10px 10px 11px;
    height: 642px;
    
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    &--takeout {
      @extend .p-service__list;
      background-image: url(/images/service__list--takeout.jpg);
      background-size: cover;
      grid-area: takeout;
    }
    &--eatin {
      @extend .p-service__list;
      background-image: url(/images/service__list--eatin.jpg);
      background-size: cover;
      grid-area: eatin;
    }
    .c-headline--underline {
      color: $color-white;
      font-family: $font-family-sub;
      @include fz (41);
      @include mq () {
        @include fz (44);
      }
      @include mq (pc) {
        @include fz (41);
      }
    }
    .c-definition {
      height: 163px;
      padding: 19px 14px 23px 10px;
      .c-definition__headline {
        @include fz (22);
        @include mq () {
          @include fz (24);
        }
      }
      .c-definition__description {
        @include fz (16);
      }
    }
  }
}