/* 検索フォーム　プロジェクト */
.p-search {
  display: flex;
  justify-content: center;
  .c-searchbox {
    width: 230px;
    @include mq () {
      width: 396px;
    }
    @include mq (pc) {
      width: 21vw;
    }
  }
  .c-btn--search {
    width: 78px;
    @include mq () {
      width: 136px;
    }
    @include mq (pc) {
      width: 7vw;
    }
  }
}