/* 提供サービス　プロジェクト */
.p-service {
  display: grid;
  grid-template-rows: auto auto;
  grid-template-columns: auto;
  row-gap: 20px;
  padding: 20px 20px 49px;
  @include mq (){
    grid-template-rows: auto;
    grid-template-columns: auto auto;
    column-gap: 41px;
    padding: 40px;
  }
  @include mq (pc){
    column-gap: 6%;
    padding: 8% 7% 9% 7%; /* h1447 w1553 */
  }
  &__list {
    position: relative;
    z-index: 500;
    padding-top: 192%;
    @include mq () {
      padding-top: 191%;
    }
    .c-img {
      position: absolute;
      top: 0;
      z-index: 600;
    }
    &__inner {
      position: absolute;
      top: 0;
      z-index: 700;
      pointer-events: none;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      width: 100%;
      height: 100%;
      padding: 11px 10px 10px 11px;
      @include mq () {
        padding: 12px 11px 11px 12px;
      }
      @include mq (pc) {
        padding: 3%;
      }
      .c-headline--underline {
        color: $color-white;
        font-family: $font-family-sub;
        @include fz (41);
        &::after {
          width: 35px;
          height: 4px;
          margin-top: 19.3px;
        }
        @include mq () {
          @include fz (44);
          &::after {
            width: 40px;
            height: 4px;
            margin-top: 19.5px;
          }
        }
        @include mq (pc) {
          @include fz (80);
          &::after {
            width: 70px;
            height: 4px;
            margin-top: 34.5px;
          }
        }
      }
      .c-definition {
        background: $color-white;
        opacity: 0.8;
        padding: 19px 14px 23px 10px;
        height: 163px;
        @include mq () {
          padding: 20px 15px 22px 11px;
          height: 172px;
        }
        &__headline {
          @include fz (22);
          @include mq () {
            @include fz (24); 
          }
        }
        &__description {
          @include fz (16);
        }
      }
    }
  }
}