/* 提供サービス　プロジェクト */
.p-service {
  row-gap: calc(20 * #{$liquid-sp});
  padding-top: calc(20 * #{$liquid-sp});
  padding-right: calc(20 * #{$liquid-sp});
  padding-bottom: calc(49 * #{$liquid-sp});
  padding-left: calc(20 * #{$liquid-sp});
  @include mq () {
    column-gap: calc(41 * #{$liquid-tab});
    padding: calc(40 * #{$liquid-tab});
  }
  @include mq (pc) {
    column-gap: calc(80 * #{$liquid-pc});
    padding-top: calc(120 * #{$liquid-pc});
    padding-right: calc(111 * #{$liquid-pc});
    padding-bottom: calc(131 * #{$liquid-pc});
    padding-left: calc(112 * #{$liquid-pc});
  }
  &__list {
    background-size: cover;
    position: relative;
    padding-top: calc(11 * #{$liquid-sp});
    padding-right: calc(10 * #{$liquid-sp});
    padding-bottom: calc(10 * #{$liquid-sp});
    padding-left: calc(10 * #{$liquid-sp});
    &:hover {
      opacity: 0.6;
    }
    @include mq () {
      padding-top: calc(12 * #{$liquid-tab});
      padding-right: calc(11 * #{$liquid-tab});
      padding-bottom: calc(11 * #{$liquid-tab});
      padding-left: calc(11 * #{$liquid-tab});
    }
    @include mq (pc) {
      padding-top: calc(20 * #{$liquid-pc});
      padding-right: calc(19 * #{$liquid-pc});
      padding-bottom: calc(20 * #{$liquid-pc});
      padding-left: calc(20 * #{$liquid-pc});
    }
    &--left {
      @extend .p-service__list;
      background-image: url(/images/service__list--left.jpg);
    }
    &--right {
      @extend .p-service__list;
      background-image: url(/images/service__list--right.jpg);
    }
    &__innner {
      position: absolute;
      z-index: 500;
      top: 0;
      left: 0;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
    .c-link--block {
      position: absolute;
      z-index: 600;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
    .c-headline--underline {
      color: $color-white;
      font-family: $font-family-sub;
      font-size: calc(41 * #{$liquid-sp});
      &::after {
        width:  calc(35 * #{$liquid-sp});
        height: 4px;
        margin-top: calc(19.3 * #{$liquid-sp});
      }
      @include mq () {
        font-size: calc(44 * #{$liquid-tab});
        &::after {
          width:  calc(40 * #{$liquid-tab});
          margin-top: calc(19.5 * #{$liquid-tab});
        }
      }
      @include mq (pc) {
        font-size: calc(80 * #{$liquid-pc});
        &::after {
          width: calc(70 * #{$liquid-pc});
          margin-top: calc(30.5 * #{$liquid-pc});
        }
      }
    }
    .c-definition {
      background: $color-white;
      opacity: 0.8;
      padding: 19px 14px 23px 10px;
      @include mq () {
        padding: 20px 15px 22px 11px;
      }
      @include mq (pc) {
        padding: 17px 25px 22px 19px;
      }
      &__headline {
        font-size: calc(22 * #{$liquid-sp});
        @include mq () {
          font-size: calc(24 * #{$liquid-tab});
        }
        @include mq (pc) {
          font-size: calc(24 * #{$liquid-pc});
        }
      }
      &__description {
        font-size: calc(16 * #{$liquid-sp});
        @include mq () {
          font-size: calc(16 * #{$liquid-tab});
        }
        @include mq (pc) {
          font-size: calc(16 * #{$liquid-pc});
        }
      }
    }
  }
}