/* サイドバー　プロジェクト */
.p-sidebar {
  width: $width-sidear-sp;
  min-width: 328px;
  background-color: $background-color-sidebar;
  position: relative;
  padding-top: 212px;
  padding-left: 46px;
  display: none;
  @include mq () {
    width: $width-sidear-tab;
  }
  @include mq (pc) {
    padding-top: 82px;
    width: 100%;
    display: block;
  }
  .c-close {
    position: absolute;
    top: 25px;
    right: 17px;
    @include mq (pc) {
      display: none;
    }
  }
  .c-headline {
    color: $font-color-sub;
    font-family: $font-family-sub;
    @include fz (34);
    display: none;
    @include mq (pc) {
      display: block;
    }
  }
}