/* グリッド　レイアウト */
.l-body {
  display: grid;
  grid-template-rows: auto auto auto;
  grid-template-columns: $grid-template-columns-sp;
  @include mq () {
    grid-template-columns: $grid-template-columns-tab;
  }
  @include mq (pc) {
    grid-template-columns: $grid-template-columns-pc;
  }
}